<div id="contact_cont">
    <div id="top-half-contact"><div id="top-half-contact-before"></div></div>

    <div id="cont-contact">
        <div id="contact-title">Contact Us</div>
        <div class="first field_cont">
            <div class="cont_">
                <div id="name" class="_field not_typed shadow"><p class="contact_text">Your Full Name</p></div>
                <div id="name_error" class="error_msg">Please enter valid name</div>
            </div>
        </div>

        <div class="field_cont second">
            <div class="cont_">
                <div class="_field not_typed shadow" id="email"><p class="contact_text">Your Email</p></div>
                 <div id="email_error" class="error_msg">Please enter valid email</div>
            </div>
        </div>
        <div class="field_cont double third ">
            <div class="cont_">
                <div class="_field not_typed shadow message_text"  id="message"><p class="contact_text">Your Inquiry</p></div>
                <div id="message_error" class="error_msg">Please enter message</div>
            </div>
        </div>

        <div id="contact_send">Send</div>
    </div>

    <div id="congrats-cont" class="cont_">
        <div id="congrats-body" class="shadow">
            <div id="congrats_text">Thanks for contacting us!<br><br>We will reply as soon as possible!</div>

        </div>

    </div>
</div>