<div id="FAQContainer">
            
    <div id="FAQInnerContainer">

        <div id="closeFAQContainer"></div>
        
        <div id="FAQCard" class="w3-card-4">
        
            <p class="information-sheet-pb"> What is ERLE?</p>
            <p class="information-sheet-p"> Emotional Response Language Education is a method of language teaching where feedback to learners is provided through facial expressions. On this website, students talk to an animated avatar whose expressions and speech are controlled by a native English teacher.</p>
            <p class="information-sheet-pb"> Can I join? </p>
            <p class="information-sheet-p">If you are an intermediate English language learner who is over 18, then yes!</p>
            <p class="information-sheet-pb"> How do I begin? </p>
            <p class="information-sheet-p">Click the 'sign up' button and fill in your details.</p>
            <p class="information-sheet-pb">What happens if I join? </p>
            <p class="information-sheet-p">You will be asked to complete a short tutorial, and then you will be able to practice speaking English with a native speaker through the avatar on your phone. The feedback will be shown in the facial expressions of the avatar. If you make mistakes, you will be able to see where the errors are and what the correction is.</p>
            <p class="information-sheet-pb">What if I make a lot of mistakes when speaking? </p>
            <p class="information-sheet-p">That's ok! If you make mistakes, the avatar will look confused. You will be able to see where the errors are and try again. Or you can choose to see what the correction is.</p>

            <p class="information-sheet-pb">What will I learn? </p>
            <p class="information-sheet-p">You will learn about the mistakes you make when speaking English. Every mistake is corrected, so you will be able to see what your common errors are.</p>
            <p class="information-sheet-pb">how often can I take a class? </p>
            <p class="information-sheet-p">You can do one class each day, from Monday to Friday. It is your choice when to take a class. Check the timetable when you sign in to see when classes are open.</p>

            <p class="information-sheet-pb">How much does it cost? </p>
            <p class="information-sheet-p">It is free</p>
            <p class="information-sheet-pb">Where is UCD? </p>
            <p class="information-sheet-p">University College Dublin is a university in Ireland. You can access the website at <a href="http://www.ucd.ie">ucd.ie</a></p>

            <p class="information-sheet-pb">How can I contact you? </p>
            <p class="information-sheet-p">You can email - ucd.erle@gmail.com</p>

        </div>

    </div>

</div>


