{% load static %}
<div id="footer">
    <div id="footer-border"></div>
    <div id="footer-center"><img style="height: 40px;" id="harpIMG" src="{% static 'gif_animation/harp.png' %}"/></div>

    <div id="footer-right"> <p style="margin:0;">
        <i class="fa fa-instagram out-of-order"></i>
        <i class="fa fa-facebook-f out-of-order"></i>
        <i class="fa fa-twitter out-of-order"></i>
        <i  id="email-icon" class="fa fa-envelope"></i>
    </p></div>

    <div id="footer-left"><p class="footer-p" style="margin:0;"><span style="font-weight: 1000;">©</span><span style="font-weight: lighter;">2020</span><span style="font-weight: 800;">ERLE</span></p></div>
</div>