{% load static %}

<div id="foregroundCover"></div>

<div id="foregroundContainer">
    <div id="logoHolder">
        <img id="ucdLogo" src="{% static 'ucd_logo.png' %}"/>
    </div>

    <div id="infoSentenceContainer" class="w3-center hide1">

            <div id="moreInfoSentence">

                <div id="text0" class="three-sentence-info">Your spoken English</div>
                <div id="text1" class="three-sentence-info">Native speaker judgement</div>
                <div id="text2" class="three-sentence-info">Emotional response</div>

            </div>
    </div>
    <div class="video_holder">
            <div class="cont_">
                <div class="video_holder_left" style="">
                    <div class="saoirse_cont">
                        <img class="saoirse" src="{% static 'three_saoirse.png' %}"/>
                        </div>
                </div>
                <div class="video_holder_right">
                    <div class="colored_cont ucd-lblue right_">
                         <div class="cont_bottom_long">
                            <div class="video_cont">
                                <iframe  width="100%" height="100%"src="https://www.youtube.com/embed/6boGtBCbclc?modestbranding=1&;showinfo=0&;autohide=1&;rel=0;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="cont_top_short">
                            <div class="title_cont">
                                How it Works
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="video_holder last">
            <div class="cont_">
                <div class="video_holder_left left_">
                    <div class="colored_cont ucd-gold">
                        <div class="cont_bottom_long">
                            <div class="video_cont">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xYNMh4sZu6k?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="cont_top_short">
                            <div class="title_cont">
                                Background
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video_holder_right">
                    <div id="feedback_div">
                     <div id="feedback_div_feedback">
                        <p class="feedback" id="feedback_1">It is so helpful. You correct so many mistakes which I didn't know before.</p>
                         <p class="feedback" id="feedback_2">It's a simple process. This program is easy to use and feedback is very fast</p>
                         <p class="feedback" id="feedback_3">It's good for me that grammar mistakes are corrected everytime because I can learn the correct sentences.</p>
                     </div>
                 </div>
                </div>
            </div>
    </div>



    <!--<img id="foregroundImage" src="{% static 'gif_animation/gifBackgroundImage.png' %}">
    <img id="foregroundImageNoHarp" src="{% static 'gif_animation/gifBackgroundImageNoHarp.png' %}">
    <img id="foregroundImageGif" src="{% static 'gif_animation/ERLE_logo_animation.gif' %}">-->

</div>

