{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------------------------------------------------------------- 
STYLESHEETS
-------------------------------------------------------------------------->
{% include 'face/entrance/stylesheets.html' %}

<!----------------------------------------------------------------------- 
BACKGROUND
-------------------------------------------------------------------------->
{% include 'face/entrance/foreground.html' %}


<div class="w3-row">

    <div class="w3-col l2 w3-hide-medium w3-hide-small">&nbsp</div>

    <div class="w3-col l8 m12 s12">

        <!----------------------------------------------------------------------- 
        sign up
        -------------------------------------------------------------------------->
        {% include 'face/entrance/sign_up.html' %}

        <!----------------------------------------------------------------------- 
        sign in
        -------------------------------------------------------------------------->
        {% include 'face/entrance/sign_in.html' %}

        <!----------------------------------------------------------------------- 
        information
        -------------------------------------------------------------------------->
        {% include 'face/entrance/information.html' %}

    </div>

    <div class="w3-col l2 w3-hide-medium w3-hide-small">&nbsp</div>

</div>

<!----------------------------------------------------------------------- 
SCRIPTS
-------------------------------------------------------------------------->
{% include 'face/entrance/scripts.html' %}

{% endblock %}
