{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------------------------------------------------------------- 
STYLESHEETS
-------------------------------------------------------------------------->
{% include 'face/entrance/stylesheets.html' %}

<!----------------------------------------------------------------------- 
BACKGROUND
-------------------------------------------------------------------------->
{% include 'face/entrance/over_foreground.html' %}
{% include 'face/entrance/foreground.html' %}
{% include 'face/entrance/popup.html' %}


{% include 'face/entrance/footer.html' %}
<!----------------------------------------------------------------------- 
SCRIPTS
-------------------------------------------------------------------------->
{% include 'face/entrance/scripts.html' %}

{% endblock %}
