{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------------------------------------------------------------- 
STYLESHEETS
-------------------------------------------------------------------------->
{% include 'face/entrance/stylesheets.html' %}

<!----------------------------------------------------------------------- 
BACKGROUND
-------------------------------------------------------------------------->
{% include 'face/entrance/over_foreground.html' %}
{% include 'face/entrance/contact_us.html' %}
{% include 'face/entrance/new_sign_up.html' %}


{% if mobile_device %}
    {% include 'face/entrance/footer.html' %}
    {% include 'face/entrance/foreground.html' %}
{% else %}
    {% include 'face/entrance/footer_desktop.html' %}
    {% include 'face/entrance/foreground_desktop.html' %}
{% endif %}
{% include 'face/entrance/popup.html' %}
{% include 'face/entrance/sign_in.html' %}



<!----------------------------------------------------------------------- 
SCRIPTS
-------------------------------------------------------------------------->
{% include 'face/entrance/scripts.html' %}

{% endblock %}
