
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
<div id="overforeground">
    <div id="overforeground-background"></div>
    <div id="overforeground-cont">
        <div id="alert_box">
            <div id="alert_title">Project Status</div>
            <div id="alert_body">
                <div id="alert_body_top">
                    <p id="est">Start Date:</p>
                </div>
                <div id="alert_body_bottom">
                    <p id="estDate">1<sup>st</sup> March 2020</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="overfooter">
</div>