<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

<div id="popup">
    <div id="popup-cont-cont">
    <div id="popup-cont">
        <!--<div class="popup-item " id="home-btn"><p><i class="fa fa-home"></i> Home</p></div>-->
        <div class="popup-item" id="signin-btn"><p><i class="fa fa-user"></i> Sign In</p></div>
        <div class="popup-item out-of-order" id="signup-btn"><p><i class="fa fa-user-plus"></i> Sign-Up</p></div>
        <div class="popup-item" id="faq-btn"><p><i class="fa fa-question"></i> FAQ</p></div>
        <div class="popup-item " id="contact-btn"><p><i class="fa fa-envelope"></i> Contact Us</p></div>
    </div>
    </div>
</div>
