{% load static %}
<!--[> variables for blender objects from JSON <]-->
<!--<script>-->
    <!--var building = "{% static 'face/JSON/outsideUCDBuilding.json' %}";-->
    <!--var trees = "{% static 'face/JSON/outsideUCDTrees.json' %}";-->
    <!--var ground = "{% static 'face/JSON/outsideUCDGround.json' %}";-->
<!--</script>-->

<!--[> fonts <]-->
<!--<script>var board_font = "{% static 'face/fonts/roboto_condensed_regular.json' %}"</script>-->

<!-- my own scripts -->
<!--<script src="{% static 'face/javascript/variablesAndConstants.js' %}"></script>-->
<!--<script src="{% static 'face/javascript/entrance/variablesAndConstants.js' %}"></script>-->
<!--<script src="{% static 'face/javascript/entrance/loadBuilding.js' %}"></script>-->
<!--<script src="{% static 'face/javascript/entrance/enterBuilding.js' %}"></script>-->
{% if mobile_device %}
    <script src="{% static 'face/javascript/entrance/main.js' %}"></script>
{% else %}
    <script src="{% static 'face/javascript/entrance/main_desktop.js' %}"></script>
{% endif %}
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto&display=swap" rel="stylesheet">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
