<div id="signInContainer">
            
    <div id="signInInnerContainer">

        <div id="closeSignInContainer"></div>
        
        <div id="signInCard" class="w3-card-4">
            
            <div class="w3-container w3-white">

            <form method="POST" id="loginForm">
                {% csrf_token %}

                <div id="loginError">
                    <p id="misMatch" style="display: none; color: red;"></p><!-- errors go here -->
                </div>
                <div id="loginUsername">
                    <p class="formLabelTag">{{ form.username.label_tag }}</p>
                    <p id="username">{{ form.username }}</p>
                </div>
                <div id="loginPassword">
                    <p class="formLabelTag">{{ form.password.label_tag }}</p>
                    <p>{{ form.password }}</p>
                </div>
                <div id="loginBtn" class="w3-center w3-container">
                    <input id="sign_in_btn" class="" type="submit" value="login" style="margin: 20px;"/>
                </div>
            </form>
                
            </div>

        </div>

    </div>

</div>

