<div id="signUpBackground">

    <div class="sign-up-info-background" id="IDProfileConsent">

        <span onclick="removeSignUp()" class="w3-button w3-xlarge w3-red w3-display-topright">&times;</span>

        <div id="info" class="sign-up-pages">

            <div id="infoSheetContent">

                <p>Information Sheet</p>
                <p class="information-sheet-pb"> What is this research about? </p>
                <!--<p class="information-sheet-pb"> 這項研究是關於什麼的？ </p>-->
                <p class="information-sheet-p"> ERLE is a language learning website which uses the emotions of an avatar to give feedback. I am interested in how users interact with the website and the avatar.</p>
                <!--<p class="information-sheet-p"> ERLE是一個語言學習網站，它使用化身的情緒來提供反饋。 我對用戶如何與網站和頭像進行互動感興趣。</p>-->
                <p class="information-sheet-pb"> Why are you doing this research? </p>
                <!--<p class="information-sheet-pb"> 你為什麼要做這項研究？ </p>-->
                <p class="information-sheet-p"> I believe facial expressions are a very important means of non-verbal communication. I want to understand how language learners feel about interacting with an avatar who displays different emotions depending on their sentences.</p>
                <!--<p class="information-sheet-p"> 我認為面部表情是非語言交流的一種非常重要的手段。我想了解語言學習者如何與根據句子表現出不同情緒的化身進行交互。</p>-->
                <p class="information-sheet-pb"> Why have I been invited to take part? </p>
                <!--<p class="information-sheet-pb"> 為什麼我被邀請參加？ </p>-->
                <p class="information-sheet-p">You are an intermediate English language learner who is over 18. Your teacher/professor has indicated that your level is suitable for this project.</p>
                <!--<p class="information-sheet-p">您是一名18歲以上的中級英語學習者。 您的老師/教授表示您的英語水平適合此項目。</p>-->
                <p class="information-sheet-pb">What will happen if I decide to take part in this research study? </p>
                <!--<p class="information-sheet-pb"> 如果我決定參加這項研究，會發生什麼i事？ </p>-->
                <p class="information-sheet-p">If you decide to participate, you will be able to practice your English with the avatar for 30 minutes in each class. You may choose to type or speak to input sentences. You will receive feedback from a native English speaker. This feedback will be shown in the facial expressions of the avatar. If you make mistakes, you will be able to see where the errors are and what the correction is.</p>
                <!--<p class="information-sheet-p">如果您決定參加，您將能夠在每堂課中使用頭像練習英語30分鐘。你可以加入課程12週。您可以選擇輸入或說出輸入句子。您將收到母語為英語的人的反饋。該反饋將顯示在化身的面部表情中。如果您犯了錯誤，您將能夠看到錯誤的位置以及更正的內容。</p>-->
                <p class="information-sheet-pb"> How will the data be used? </p>
                <!--<p class="information-sheet-pb"> 該數據將如何被使用？ </p>-->
                <p class="information-sheet-p"> The sentences you type and speak will be used to understand how you change your language pronunciation and production after receiving feedback. The recordings from the sentences you speak will be saved and used to train a pronunciation model. </p>
                <!--<p class="information-sheet-p">您輸入和說出的句子將用於了解您在收到反饋後如何更改語言發音和製作。您所說句子的錄音將被保存並用於訓練發音模型。 </p>-->
                <p class="information-sheet-pb"> How will you protect my privacy? </p>
                <!--<p class="information-sheet-pb"> 您將如何保護我的隱私？ </p>-->
                <p class="information-sheet-p"> You will choose a username which has no connection to your real name. In the study you will be referred to only by the basic demographic information you provide: age, sex and nationality. </p>
                <!--<p class="information-sheet-p">您將選擇與您的真實姓名無關的用戶名。在研究中，您將僅通過您提供的基本人口統計信息來提及：年齡，性別和國籍。</p>-->

                <p class="information-sheet-pb">How is this research funded? </p>
                <!--<p class="information-sheet-pb"> 這項研究是如何被資助的？ </p>-->
                <p class="information-sheet-p">This project is funded by UCD Computer Science.</p>
                <!--<p class="information-sheet-p">該項目由UCD計算機科學資助。</p>-->

                <p class="information-sheet-pb">What are the benefits of taking part in this research study? </p>
                <!--<p class="information-sheet-pb"> 參加這項研究有什麼好處？ </p>-->
                <p class="information-sheet-p">You will be able to practice your English. You may find it enjoyable to interact with an avatar who responds to your sentences.</p>
                <!--<p class="information-sheet-p"> 你將能夠練習英語。您可能會發現與會回應您的句子的頭像進行交互很有趣。</p>-->
                <p class="information-sheet-pb">What are the risks of taking part in this research study? </p>
                <!--<p class="information-sheet-pb"> 參加這項研究的風險是什麼？ </p>-->
                <p class="information-sheet-p">If you see negative expressions from the avatar you may feel bad. When using the speech recognition, it may be frustrating to see a different result from what you expect. The sentences you input by speech may be identifiable.</p>
                <!--<p class="information-sheet-p">如果你看到頭像的表達負面的情緒，你可能會感覺很糟糕。使用語音識別時，看到與預期不同的結果可能會令人沮喪。您通過語音輸入的句子可能是可識別的。</p>-->

                <p class="information-sheet-pb">Can I change my mind at any stage and withdraw from the study? </p>
                <!--<p class="information-sheet-pb"> 我可以在任何階段改變主意並退出研究嗎？ </p>-->
                <p class="information-sheet-p">Yes. You can change your mind anytime and withdraw with no disadvantage. If you wish to withdraw, you can send an email to john.sloan.1@ucdconnect.ie with the subject “withdraw from ERLE - <username>”. If you want a copy of your data, or wish your data to be deleted, you can state that in the email and we will follow your request. </p>
                <!--<p class="information-sheet-p">是。 你可以隨時改變主意，並且毫無劣勢地退出。 如果您想退出，可以發送電子郵件至john.sloan.1@ucdconnect.ie，信件主旨為“退出ERLE - 用戶名。 如果您需要數據副本或希望刪除數據，可以在電子郵件中說明，我們會按照您的要求提供。</p>-->
                <p class="information-sheet-pb">Has this research project received ethical approval? </p>
                <!--<p class="information-sheet-pb"> 該研究項目是否獲得了道德批准？ </p>-->
                <p class="information-sheet-p">Yes.</p>
                <!--<p class="information-sheet-p">是。</p>-->

                <p class="information-sheet-pb">How will I find out what happens with this project? </p>
                <!--<p class="information-sheet-pb"> 我怎樣才能知道這個項目會發生什麼？ </p>-->
                <p class="information-sheet-p">You can email - john.sloan.1@ucdconnect.ie</p>
                <!--<p class="information-sheet-p">您可以發送電子郵件 - john.sloan.1@ucdconnect.ie</p>-->

            </div>

            <label><input type="checkbox" name="infoAgreement" id="infoAgree">&nbsp I have read the information sheet and watched the 'How To' video[> - 我已詳閱上述資訊並已觀看”How To”影片 <]</label></label>

            <div class="w3-center w3-container" id="infoBtnOuterDiv">
                <button id="infoBtn" class="w3-button w3-padding-large w3-large w3-blue w3-hover-indigo w3-ripple"/>next</button>
            </div>

        </div>

        <div id="consent" class="sign-up-pages">

            <h2 class="w3-text-indigo w3-center">Consent</h2>

            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I am over 18 years old&nbsp [> 我已滿18歲 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I will talk or type English sentences when using ERLE&nbsp [> 我知道在使用ERLE時我會說或輸入英文句子 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I will receive feedback in the form of facial expressions of an avatar&nbsp [> 我知道我將以頭像的面部表情形式收到反饋 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that all data I submit is anonymous&nbsp [> 我知道我提交的所有數據都是匿名的 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that all data I submit will be securely stored and archived&nbsp [> 我了解我提交的所有數據都將被安全存儲和存檔 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I consent to the recordings I submit being used to train pronunciation models&nbsp [> 我同意我提交的錄音用於訓練發音模型 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I consent to the sentences I submit being used to train language models&nbsp [> 我同意我提交的句子被用來訓練語言模型 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I can request the deletion of my data at any time&nbsp [> 我知道我可以隨時要求刪除我的數據 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I can stop participating in this research project at any time&nbsp [> 我知道我可以隨時停止參與這個研究項目 <]</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I consent to taking part in this research&nbsp [> 我同意參加這項研究 <]</p></label>
            <div class="w3-center w3-container">
                <button id="consentBtn" class="w3-button w3-padding-large w3-large w3-blue w3-hover-indigo w3-ripple" style="margin: 20px;">next</button>
            </div>

        </div>

        <form method="POST" id="signUpUserForm">

            {% csrf_token %}

            <div id="learnerID" class="sign-up-pages">

                <h2 class="w3-text-indigo w3-center">ID</h2>

                <p class="formLabelTag w3-text-indigo">Please choose a username:</p>
                <p>{{ signUpUserForm.username }}</p>
                        
                <p class="formLabelTag w3-text-indigo">{{ signUpUserForm.email.label_tag }}</p>
                <p>{{ signUpUserForm.email }}</p>
                        
                <p class="formLabelTag w3-text-indigo">Password</p>
                <p>{{ signUpUserForm.password1 }}</p>

                <div class="w3-center w3-container">
                    <input id="IDBtn" class="w3-button w3-padding-large w3-xlarge w3-blue w3-hover-indigo w3-ripple" type="submit" value="next" style="margin: 20px;"/>
                </div>

            </div>

        </form>

        <form method="GET" id="signUpForm">

            <div id="profile" class="sign-up-pages">

                <h2 class="w3-text-indigo w3-center">Profile</h2>

                <p class="formLabelTag profileTag w3-text-indigo">Where are you from?</p>
                <p class="form-select">{{ signUpForm.nationality }}</p>
                        
                <p class="formLabelTag profileTag w3-text-indigo">What is your native language?</p>
                <p class="form-select">{{ signUpForm.language }}</p>
                        
                <p class="formLabelTag profileTag w3-text-indigo">Where do you live now?</p>
                <p class="form-select">{{ signUpForm.living_now }}</p>
                        
                <p class="formLabelTag profileTag w3-text-indigo">{{ signUpForm.born.label_tag }}</p>
                <p class="form-select">{{ signUpForm.born }}</p>
                        
                <p class="formLabelTag profileTag w3-text-indigo">{{ signUpForm.gender.label_tag }}</p>
                <p class="form-select">{{ signUpForm.gender }}</p>
                        
                <p class="formLabelTag profileTag w3-text-indigo">{{ signUpForm.education.label_tag }}</p>
                <p class="form-select">{{ signUpForm.education }}</p>
                        
                <p class="formLabelTag profileTag w3-text-indigo">{{ signUpForm.english_level.label_tag }}</p>
                <p class="form-select">{{ signUpForm.english_level }}</p>
                        
                <p class="formLabelTag profileTag w3-text-indigo">How long have you lived in an English speaking country?</p>
                <p class="form-select">{{ signUpForm.lived_in_english_speaking_country }}</p>
                        
                <div class="w3-center w3-container">
                    <input id="profileBtn" class="w3-button w3-padding-large w3-xlarge w3-blue w3-hover-indigo w3-ripple" type="submit" value="next" style="margin: 20px;"/>
                </div>

            </div>

        </form>

    </div>

</div>


