{% load static %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'face/css/utils.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/sign_up.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/sign_in.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/information.css' %}" />

{% if request.user_agent.is_mobile %}
    <link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/foreground.css' %}" />
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/foreground_desktop.css' %}" />
{% endif %}


<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/popup.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/overforeground.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/contact.css' %}" />