{% load static %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'face/css/utils.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/sign_up.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/sign_in.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/information.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/foreground.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/popup.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance/overforeground.css' %}" />