<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>faces practice</title>

            <style>

            body { margin: 0; }
        	canvas { width: 100%; height: 100% }

            </style>
	
        </head>
	
        <body>
            
            {% load static %}
            
            <!-- w3.css styling -->
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <!-- jQuery -->
            <!--<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
            <script src="{% static 'jquery-3.3.1.min.js' %}"></script>

            <!-- three.js script -->
            <script src="{% static 'three.min.js' %}"></script>

            <!-- chart.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

            <!-- controls -->
            <!-- <script src="{% static 'TrackballControls.js' %}"></script> -->
            <script src="{% static 'OrbitControls.js' %}"></script>

            <!-- AJAXpost -->
            <script src="{% static 'ajaxPost.js' %}"></script>

            
            <!-- navbar -->
            <div class="w3-bar w3-blue w3-xlarge" style="position: fixed; z-index: 100;">

                {% if waiting %}

                    <div style="float: left">

                        <div class="w3-bar-item" id="timeInIre">Time in Ireland: {{ timeNow }}</div>

                    </div>

                {% elif class %}

                    <div style="float: left">

                        <!--<div class="w3-bar-item" id="timeLeft"></div>-->

                    </div>

                {% endif %}

                <div style="float: right">

                    {% if request.user.is_authenticated %}

                        <!--<p class="w3-bar-item">{{ request.user.username }}</p>-->
                        <a href="#" class="w3-bar-item w3-button w3-hover-blue w3-ripple">{{ request.user.username }}</a>

                        <!--<a href="https://www.youtube.com/watch?v=xYNMh4sZu6k" target="_blank" class="w3-bar-item w3-button w3-hover-blue w3-ripple">instructions</a>-->

                        {% if class %}
                        
                            <a href="#" id="finishClassBtn" class="w3-bar-item w3-button w3-hover-blue w3-ripple">finish</a>

                        {% else %}

                            <a class="w3-bar-item w3-button w3-hover-blue w3-ripple" id="tutorialBtn">tutorial</a>

                            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hover-blue w3-ripple">logout</a>
                        
                        {% endif %}

                    {% else %}

                        <button class="w3-bar-item w3-button w3-hover-blue w3-ripple" id="signUpBtn">Sign Up</button>
                        <button class="w3-bar-item w3-button w3-hover-blue w3-ripple" id="logInDropdown">Log In</button>

                    {% endif %}

                </div>

            </div>

            {% block content %}
            {% endblock %}
        
        </body>

</html>
