<html>

    {% load static %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <title>faces practice</title>

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
            
            <style>

            body { 
                margin: 0;
                height: 100%;
                width: 100%;
                position: fixed;
            }

            #totalPoints {

                font-weight: bold;

            }
            .navbar_icon{
                height:100%;
                display:flex;
                align-items:center;
                justify-content:center;
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                font-size: 2vh;
                color: #102858;
                text-align:center;
            }
            .navbar_icon_left:hover{
                color: #1C8AC4
            }
            .navbar_icon_right:hover{
                color: #E9CC01
            }
            #navbar_desktop{
                height:75px;
                background:white;
                border-bottom:3px solid #102858;
                box-shadow: 0px 0px 2px -2px rgba(0,0,0,0.6);

            }
            #balance_header{
                font-family: 'Oswald', sans-serif;
                /* color: #ECD421; */
                color:#102858;
                font-size:20px;
                margin:0;
            }
            #balance_symbol_header{
                height: 100%;
                display: flex;
                align-items: center;
            }

            </style>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        </head>
	
        <body>
            
            <!-- w3.css styling -->
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <!--script src="https://kit.fontawesome.com/ff429d8bc2.js" crossorigin="anonymous"></script>-->

            <!-- jQuery -->
            <!--<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
            <script src="{% static 'jquery-3.3.1.min.js' %}"></script>

            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>             

            <!-- three.js script -->
            <script src="{% static 'three.min.js' %}"></script>

            <!-- chart.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

            <!-- controls -->
            <!-- <script src="{% static 'TrackballControls.js' %}"></script> -->
            <!--<script src="{% static 'OrbitControls.js' %}"></script>-->

            <!-- AJAXpost -->
            <script src="{% static 'ajaxPost.js' %}"></script>



            
            <!-- navbar -->
                
            {% if conversation %}

            {% else %}

                    {% if request.user.is_authenticated %}

                        <div id="navbar" class="w3-bar" style="position: relative; z-index: 100; color: blue; width:100%; height:70px;min-height:70px; background: white;">

                            <div  style="border-bottom:3px solid #102858; height:100%; width:100%; position:absolute;">
                                <div style="position:relative; height:100%; width:100%; -webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222; box-shadow: 0 4px 6px -6px #222;"></div>
                            </div>
                            {% if not control %}
                                <div id="logo-left-cont" style="z-index:2; color:#102858; position:absolute; height:90%; width:20%; left:2.5%; background-color: white; display:none; align-items:center; justify-content:center;">
                                    <div id="balacne_symbol_header"><img style="  height:20px; margin-top: 2px;" src="{% static 'face/JSON/ErleESymbolYellow.png' %}"/></div><p id="balance_header">0</p>
                                </div>
                            {% else %}
                                    <div id="logo-left-cont" style=" color:#102858; position:absolute; height:90%; width:15%; left:2.5%; background-color: white; display:flex; align-items:center; justify-content:center;">
                            </div>
                            {% endif %}

                            <div  style="position:relative; height:100%; width:100%; display:flex; align-items:center; justify-content:center;">
                                <div class="logoCont" style="position:absolute; left:20%; width:60%; height:90%;">
                                    <div style="width:100%; height:100%; position:absolute; top:0; display:flex; align-items:center; justify-content:center;">
                                        <img id="main-logo" style="height:80%;" id="foregroundImageGif" src="{% static 'gif_animation/logo_n.png' %}">
                                    </div>
                                </div>

                                <div id="logo-right-cont" style="position:absolute; height:90%; width:15%; right:2.5%; background-color: white; display:none; align-items:center; justify-content:center;">
                                    <i id="popup-btn" class="fa fa-bars fa-2x" style="color:#102858; display:none;"></i>
                                </div>
                            </div>
                        </div>


                        {% else %}

                            {% if mobile_or_tablet_device %}

                                <div id="navbar" class="w3-bar" style="position: relative; z-index: 100; color: blue; width:100%; height:70px;min-height:70px;">
                                    <div id="navbar-grey-cover" style=""></div>
                                <div  style="border-bottom:3px solid #102858; height:100%; width:100%; position:absolute;">
                                     <div style="position:relative; height:100%; width:100%; -webkit-box-shadow: 0 4px 6px -6px #222;-moz-box-shadow: 0 4px 6px -6px #222; box-shadow: 0 4px 6px -6px #222;"></div>
                                </div>

                                <div id="logo-left-cont" style=" color:#102858; position:absolute; height:90%; width:15%; left:2.5%; display:flex; align-items:center; justify-content:center;">
                                </div>

                                <div  style="position:relative; height:100%; width:100%; display:flex; align-items:center; justify-content:center;">
                                    <div class="logoCont" style="position:absolute; left:20%; width:60%; height:90%;">
                                        <div style="width:100%; height:100%; position:absolute; top:0; display:flex; align-items:center; justify-content:center;">
                                            <img id="main-logo" style="height:80%;" id="foregroundImageGif" src="{% static 'gif_animation/logo_n.png' %}">
                                        </div>
                                    </div>

                                    <div id="popup-btn-cont" style="position:absolute; height:90%; width:15%; right:2.5%;  display:flex; align-items:center; justify-content:center;">
                                        <i id="popup-btn" class="fa fa-bars fa-2x" style="color:#102858;"></i>
                                    </div>
                                </div>
                                </div>
                                <!--<button class="w3-bar-item w3-button w3-round-xxlarge" id="signUpBtn" style="border: 1px solid white; margin: 3px;">Sign Up</button>-->
                                <!--<button class="w3-bar-item w3-button w3-hover-white w3-round-xxlarge" id="logInDropdown" style="border: 1px solid white; margin: 3px;">Log In</button>-->
                            {% else %}
                                <div id="navbar_desktop" class="container-fluid" style="height:75px;">
                                  <div class="row" style="height:75px;">
                                       <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="row" style="height:100%;">
                                                    <div class="col-xs-4 col-sm-4 col-lg-4">
                                                        <div class="row" style="height:100%;">
                                                            <div class="col-xs-3 col-sm-3 col-lg-3"></div>
                                                            <div class="col-xs-3 col-sm-3 col-lg-3 navbar_icon navbar_icon_left out-of-order" id="contact_btn">Contact</div>
                                                            <div class="col-xs-3 col-sm-3 col-lg-3 navbar_icon navbar_icon_left out-of-order">FAQs</div>
                                                            <div class="col-xs-3 col-sm-3 col-lg-3"></div>

                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4 col-sm-4 col-lg-4" style=" height:100%;display:flex; align-items:center; justify-content:center;">
                                                        <img id="main-logo" style="height:50px;" id="foregroundImageGif" src="{% static 'gif_animation/logo_n.png' %}">
                                                    </div>

                                                    <div class="col-xs-4 col-sm-4 col-lg-4">
                                                        <div class="row" style="height:100%;">
                                                            <div class="col-xs-3 col-sm-3 col-lg-3"></div>
                                                            <div class="col-xs-3 col-sm-3 col-lg-3 navbar_icon navbar_icon_right out-of-order" id="signin_btn">Sign In</div>
                                                            <div class="col-xs-3 col-sm-3 col-lg-3 navbar_icon navbar_icon_right out-of-order" id="signup_btn">Sign Up</div>
                                                            <div class="col-xs-3 col-sm-3 col-lg-3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                       </div>
                                  </div>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>

                </div>

            {% endif %}

            {% block content %}
            {% endblock %}
        
        </body>

</html>
