button {

    outline: none;

}

button:hover {

    transform: scale(1.1);
    outline: none;

}

button:active {

    transform: scale(1.0);
    outline: none;

}

#loadingIcon {

    position: absolute;
    color: yellow;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.init-questions-container {

    display: none;
    [>background: rgba( 256, 256, 256, 0.2 );<]
    height: 18%;
    width: 50%;
    left: 50%;
    transform: translate( -50%, 0 );
    bottom: 5%;
    position: absolute;
    z-index: 101;

}

#tutorialBtnSingleCont {

    width: 60%;

}
#tutorialBtnDoubleCont {

    width: 70%;

}

#tutorialBtnQuadCont {

    width: 70%;
    bottom: 13%;

}

.init-emot {

    color: white !important;
    width: 85%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 20px;*/
    /*display: block;*/
    /*font-size: 1.8em;*/

}

#continueNewChoices {

    display: none;

}

#topicChoices {

    display: none;
    height: 100%;
    width: 100%;

}

.topic-row {

    height: 33%;

}

.nice-row {

    height: 40%;

}

.choice-btn {

    color: white !important;
    /*height: 50px;*/
    width: 85%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*[>padding: 10px;<]*/
    /*font-size: 1.6vw;*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;


}

.choice-btn:hover {

    transform: scale(1.01);

}

#continueBtn {

    margin-top: 25px !important;

}

#topicLabel {

    font-size: 22px;
    color: #2B2A2A;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

#topicExample {

    font-size: 18px;
    color: #605C5C;

}

#submitTopicBtnContainer {

    height: 100%;
    width: 100%;
    display: none;

}

#laptopContainer {

    position: absolute;
    width: 100%;
    height: 38%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#laptop {

    width: 95%;
    height: 100%;
    background-color: #191919;
    bottom: 0;
    border-top: 8px solid #393939;
    border-right: 3px solid #595959;
    border-left: 2px solid #191919;

}

#textInputContainer {

    position: absolute;
    width: 100%;
    height: 42%;
    /*J deleted so we can have different colours for what we are doing inside*/
    /*background-color: #a9a9a9;*/
    /*border: 2px solid red;*/
    opacity: 0.9;
    bottom: 8%;
    /*display: none;*/

}
#correctionOverlay {
    position:absolute;
    width:100%;
    height:50%;
    bottom:0;
    z-index:2;
    display:none;
}

#closeOverlayArea{
    height:50%;
    width:100%;
    position:absolute;
    top:0;
    opacity:0;
    z-index:3;
}
#centeredError{
    height:76%;
    width:100%;
    position:absolute;
    top:0;
    background-color:#f0f0f0;
}
#centeredErrorHolder{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
#praatCont{
    height:76%;
    width:100%;
    position: absolute;
    top:0;
    background-color:#f0f0f0;

}

.img_btn{
    width:95%;
    border-radius:7px;
    min-width:96%;
    padding-top:2.5%;
    padding-bottom:1%;
    padding-right:2.5%;
}

#ref_btn{
    background-color:green;
    width:95%;
    position:relative;
}
.text_layer{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:transparent;
    z-index:2;
    position:absolute;
    top:0;
    right:0;
}
#ref_text{
    z-index:3;
    color:white;
    font-size:24px;
    font-family: monospace;
}
#hyp_text{
    z-index:3;
    color:white;
    font-size:24px;
    font-family:monospace;
}
#ref_invisible{
    background-color:green;
}
#hyp_invisible{
    background-color:red;
}

.invisible_layer{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    right:0;
    opacity:0.3;
    z-index:1;
    border-radius:7px;
}


#hyp_btn{
    background-color:red;
    position:relative;
}



#ref_btn{
    margin-bottom:50px;
}

.spec_img{
    width:97.5%;
    height:auto;
    max-width:97.5%;
    max-height:100%;
    min-width:95%;
}


#praatContHolder{
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

#centeredErrorText{
    font-size:2em;
    font-family:monospace;
    color:red;
}


#modalOverlay {
    position:absolute;
    width:100%;
    height:50%;
    bottom:0;
    z-index:2;
    background-color:red;
}

#overlayTextBox {
    height:61%;
    position:absolute;
    top:15%;
    width:100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    /*margin-top:4em;*/
    background-color:#f0f0f0;
    opacity:i;
    color:green;
    z-index:3;
    overflow:hidden;
    font-size:2em;
}
#overlayErrorBox{
    height:15%;
    position:absolute;
    top:0;
    background-color:white;
    width:100%;
    font-family:monospace;
    color:red;
    padding-top:0.5em;
    opacity: 1;
    border-bottom: 1px solid #575757;
    z-index:4;
}
#overlayErrorText{
    font-size:2em;
    padding-left:0.5em;
}
#overlayBtnBox {
    position:absolute;
    bottom:0;
    height:24%;
    width:100%;
    z-index:5;
    border-top:1px solid #575757;
    background-color:#f0f0f0;
}
#overlayLeftBtn{
    height: 100%;
}

#overlayCentreBtn{
    height:100%;
}
#overlayRightBtn{
    height:100%
} 
#textInputBoxContCont {

    width: 100%;
    height: 15%;
    position: absolute; 
    bottom: 0;
    display: none;

}

#textInputBoxCont {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#textInputBox {
    display:none;
    height: 100%;
    width: 89%;
    position: relative; 
    padding: 1%;
    background-color: black;

}

.corrected-error{
    background-color:green;
    opacity:1;
    padding:0.1em;
    border:1px solid white;;
    color:white;
}
.lower-error{
    background-color:red;
    opacity:1;
    padding:0.1em;
    border:1px solid white;
    color:white;
}

#textInput {

    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0 );
    color: #33ff00;
    font-family: Courier;
    outline-style: none;
    box-shadow: none;
    border: none;
    resize: none;
    /*display: none;*/

}

@media screen and (min-width: 701px) {
  #textInput {
    font-size 1.5em;
    line-height: 1.5em;
  }
  .speaking-words-inside {
      font-size: 1.3em;
      line-height: 1.3em;
  }
    .submitted-corrected-sentences {
        font-size: 1.5em;
        line-height: 2.5em;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
  #textInput {
    font-size: 1em;
    line-height: 1.2em;
  }
  #sentenceShowHolder{
    font-size: 1em;
    line-height: 1.2em;
  }
  .speaking-words-inside {
      font-size: 0.9em;
      line-height: 1.2em;
  }
    
    .submitted-corrected-sentences {
        font-size: 1em;
        line-height: 2.6em;
    }
}

#textInput:focus {
 
    outline-style: none;
    box-shadow: none;
    border: none;

}

#overlayHolder{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
} 
#modalHolder{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
}
#upperModal{
    height:38%;
    width:100%;
    position:absolute;
    top:0;
    background-color:green;
    display: flex;                                                                           
    align-items: center;                                                                     
    justify-content: center;                                                                 
}
#lowerModal{
    height:38%;
    width:100%;
    position:absolute;
    top:38%;
    background-color:yellow;
    display:flex;
    align-items:center;
    justify-content:center;
}
#buttonModal{
    height:24%;
    width:100%;
    position:absolute;
    bottom:0;
    background-color:white;
}
.sound-btn{
    width:80%;
    height:50%;
    background-color:blue;
    border-radius:20px;
    display:flex;
   
}

#sentenceShowHolder{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    background-color:white;
}
#sentenceHolderParent{
    height:100%;
    width:100%;
    position:absolute;
    background-color:transparent;
}
#lowerSentenceHolder{
    padding-left:2%;
    padding-right:2%;
    height:100%;
    width:100%;
    z-index:1;
    background-color:transparent;
    padding-top:1.4em; 
    word-wrap:break-word;
}
#upperSentenceHolder{
    padding-right:2%;
    padding-left:2%;
    height:100%;
    background-color:transparent;
    width:100%;
    float:top;
    position:absolute;
    top:0;
    z-index:0;
    word-wrap:break-word;
}
.monospace-sent-font{
    font-family:monospace;
    color:green;
    line-height:2.9;
}

.selectable-word{
    opacity:0.9;
    border:1px solid green;
    border-radius:0.5em;
    padding:0.1em;
    cursor:pointer;
}
.normal-word{
    opacity:1;
    padding:0.1em;
    border:1px solid transparent;
}

.uncorrected-error{
    opacity:1;
    padding:0.1em;
    border:1px solid black;
    background-color:yellow;
    color:black;
}

.hidden-word{
    opacity:0;
    padding:0.1em;
    border:1px solid transparent;
}
.hidden-span{
    opacity:0;
}

.selected-word{
    opacity:1;
    border:1px solid white;
    background-color:green;
    color:white;
    border-radius:0.5em;
    padding:0.1em;
    cursor:pointer;
}
.selected-word:hover{
    cursor:pointer;
}

/*error-word-unselected{}*/
/*error-word-selected{}*/
/*correct-error-upper{} */
/*correct-error-lower{}*/


#submittedNCorrectedSentenceContCont {

    position: absolute;
    height: 100%;
    width: 100%;
    /*bottom: 4%;*/
    border: 2px dashed blue;
    display: none;

}

#submittedNCorrectedSentenceCont {

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;

}

.submitted-corrected-sentences {

    width: 100%;
    height: 100%;
    bottom: 4%;
    font-family: Courier;
    padding: 0.3em;

}

#submittedSentence {

    position: absolute;
    /*border: 2px solid red;*/

}

#correctedSentence {

    padding-top: 1.5em;
    position: absolute;
    /*border: 2px solid green;*/

}

.wrong-words {

    display: inline-block;

}

.correct-words {

    display: inline-block;
    color: rgba(0,0,0,1);

}

.correction-word {

    color: green;

}

/*put 'a's in place of spaces on Daniel's advice, n then make them disappear. Thi swill help with alignment later*/
.wrong-words-spaces {

    color: rgba(0, 0, 0, 0);

}

.correct-words-spaces {

    color: rgba(0, 0, 0, 0);

}

.wrong-parts {

    color: rgba(0,0,0,0);
    /*background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), green, green, rgba(0,0,0,0), rgba(0,0,0,0));*/
    font-weight: bold;

}

.wrong-parts-spaces {

    color: rgba(0,0,0,0)

}

.correct-parts {

    color: rgba(0,0,0,0);

}

/*#playRobot {*/

    /*height: 65px;*/
    /*width: 65px;*/
    /*background-color: #1b8900;*/
    /*position: absolute;*/
    /*right: 0.5%;*/
    /*bottom: 10%;*/

/*}*/

/*#playRobot:hover {*/

    /*background-color: #33ff00;*/
    /*cursor: pointer;*/

/*}*/

/*#robot {*/

    /*position: relative;*/
    /*height: 110%;*/
    /*left: -2px;*/
    /*bottom: 5px;*/

/*}*/

/*#altCont {*/

    /*position: relative;*/
    /*height: 10%;*/
    /*width: 90%;*/
    /*[>left: 0;<]*/
    /*[>top: 0;<]*/
    /*[>display: none;<]*/
    /*[>border: 2px solid blue;<]*/

/*}*/

/*.sent-scores-row {*/

    /*[>width: 100%;<]*/
    /*[>height: 100%;<]*/
    /*[>position: relative;<]*/

/*}*/

/*.sent-scores {*/

    /*[>width: 45px;<]*/
    /*height: 100%;*/
    /*font-size: 1.7vw;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*background-color: #33ff00;*/
    /*[>position: absolute;<]*/
    /*[>left: 0;<]*/
    /*[>top: 0;<]*/
    /*[>bottom: 0;<]*/
    /*[>margin: auto;<]*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*[>color: white;<]*/

/*}*/

/*.sent-scores:hover {*/

    /*cursor: pointer;*/
    /*background-color: #33ff00 !important;*/
    /*[>color: black !important;<]*/

/*}*/

/*#alt00 {*/

    /*background-color: #33ff00;*/
    /*cursor: default;*/
    /*border-right: 1px solid black;*/

/*}*/

/*#alt00:hover {*/

    /*background-color: #33ff00; !important*/

/*}*/

/*#alt01 {*/

    /*background-color: #1b8900;*/
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/

/*}*/

/*#alt02 {*/

    /*background-color: #1b8900;*/
    /*border-left: 1px solid black;*/

/*}*/

#meterCont {

    height: 7px;
    width: 100%;
    /*display: none;*/
    /*border: 3px solid white;*/
    position: absolute;
    /*right: 0;*/
    /*top: 10%;*/
    bottom: 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}

#volumeMic {

    /*position: absolute;*/
    /*padding: 5px;*/
    /*left: -10px;*/
    bottom: 0;
    color: #33ff00;
    /*margin-top: 5px;*/

}

#meter {

    /*border: 2px solid #33ff00;*/
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    top: 0;

}

#finishClassIconCont {

    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    margin: 10px;

}

#finishClassIcon {

    position: absolute;
    height: 50px;
    width: 50px;

}

#prevSentsIconCont {

    position: absolute;
    height: 50px;
    width: 50px;
    margin: 10px;

}

.prev-sents-icons {

    position: absolute;
    height: 60px;
    width: 40px;

}

#iconDark {

    display: none;

}

#prevSentsContainer {

    position: absolute;
    width: 100%;
    height: 56.5%;
    right: 100%;
    top: 30px;
    background-color: rgba( 0, 0, 0, 0.3 );

}

#prevSents {

    bottom: 2%;
    position: absolute;
    width: 100%;
    max-height: 92%;
    overflow-y: auto;

}

.sentenceBox {

    background-color: white;
    border-radius: 7px 0px 7px 7px;
    min-width: 51%;
    max-width: 90%;
    margin: 4px;
    padding: 3%;
    float: right;
    font-size: 1.1vw;
    
}

.noCorrectionYetSent {

    opacity: 0.2;
    color: grey;

}

.correctSent {

    background-color: rgba( 160, 219, 142, 1 );

}

.meanBySent {

    background-color: rgba( 244, 217, 166, 1 );

}

.correctedSection {

    background-color: red;
    color: white;
    border-radius: 5px;

}

.meanBySection {

    background-color: orange;
    color: white;
    border-radius: 5px;

}

.betterSection {

    background-color: green;
    color: white;
    border-radius: 5px;

}

.incorrectSent {

    background-color: rgba( 255, 182, 193, 1 );

}

.promptBox {

    background-color: white;
    float: left;
    /*to give edge on other side*/
    border-radius: 0px 7px 7px 7px;

}

.correctionsBox {

    background-color: teal;
    color: white;
    float: left;
    /*to give edge on other side*/
    border-radius: 0px 7px 7px 7px;

}

#inputButtonsContainer {

    position: fixed;
    width: 100%;
    height: 8%;
    bottom: 0;
    background-color: white;
    /*display: none;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

}

#recordBtnsContainer {

    height: 100%;
    width: 100%;
    display: none;

}

#recordAndStopBtnsContainer {

    height: 100%;
    /*display: flex;*/
    /*align-items: center;*/
}

.input-btns {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#listenAndSynthBtnsContainer {
    /*position:relative;*/
    height: 100%;

}

#incorrectTranscriptBtns{
    height: 100%;
}

#human {

    position: relative;
    height: 110%;
    left: -10px;
    bottom: 2px;

}

#talkBtnContainer {

    height: 100%

}

#talkBtnCont {

    height: 100%;
    display: flex;
    align-items: center;

}

#talkBtn {

    position: relative;
    /*width: 80%;*/
    /*font-size: 1.6vw !important;*/
    /*font-weight: bold;*/
    color: yellow !important;

}

#yellowPlay {

    position: relative;
    left: 12%;

}

.input-btn-large {

    font-size: 3em !important;

}

.input-btn {

    font-size: 1.9em !important;
    font-weight: bold !important

}

    .record-btn {
    /*left:0;*/
    /*margin: auto;*/
    /*height: 60px;*/
    /*width: 60px;*/

    }

    #stopRecordVoiceBtn {

        display: none;

    }

    .inputfa {
        color: white;
    }
    .redfa{
        color: red;
}

#optionBtns {

    display: none;
    width: 100%;
    height: 100%;

}

#emotionQuestionsContainer {

    display: none;
    height: 100%;
    width: 100%;

}

#thoughtBubbleContCont {

    position: absolute;
    width: 100%;
    height: 20%;
    top: 10%;
    opacity: 0.8;

}

#thoughtBubbleCont {

    position: absolute;
    width: 35%;
    height: 100%;
    right: 65%;

}

.thought-bubbles {

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

#thinkingLoading {

    display: none;
    font-family: Georgia;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 20%;
    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 3px solid red;*/
}

.thinking-words {

    z-index: 130;
    /*display: none;*/
    position: absolute;
    height: 20%;
    width: 80%;
    left: 10%;
    bottom: 38%;
    /*border: 2px dashed blue;*/

}

#speechBubbleCont {

    position: fixed;
    width: 100%;
    height: 14%;
    bottom: 50%;
    background-color: white;
    opacity: 0.8;
    display: none;

}

.triangle-cont {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;

}

.triangle-bottomleft {

	position: absolute;
    width: 0;
	height: 0;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;

}

/*.speech-bubbles {*/

    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*[>display: none;<]*/
    /*right: 0;*/

/*}*/

/*#speechBubbleTia {*/

    /*top: 35%;*/

/*}*/

.speaking-words {

    /*display: none;*/
    /*background-color: red;*/
    /*padding: 2%;*/
    height: 100%;
    /*border: 3px solid green;*/
    padding: 0.45em;

}

.speaking-words-inside {

    /*display: none;*/
    /*position: absolute;*/
    height: 100%;
    font-size:1.2em;
}

#speakingWordsLaptop {

    /*display: none;*/
    /*top: 12%;*/

}

/*#speakingWordsTia {*/

    /*display: none;*/
    /*top: 47%;*/

/*}*/

.thinkingOfSpeaking {

    font-size: 30px;
    left: 10%;
    display: none;

}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: 0;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.thinkingOfSpeaking span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 4 seconds
     */
    animation-duration: 4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.thinkingOfSpeaking span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: 0.5s;
}

.thinkingOfSpeaking span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: 1s;
}

/*.thinkingOfSpeaking span:nth-child(4) {*/
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    /*animation-delay: 1.5s;*/
/*}*/

/* SUCCESSFULLY CENTERED DIVS HORIZONTALLY ADN VERTICALLY */
.option-row {

    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.option-btn {

    /*height: 40%;*/
    width: 90%;
    /*font-size: 1.2vw;*/
    /*font-weight: bold;*/
    display: flex;
    align-items: center;
    justify-content: center;

}

#showCorrectionBtn {

    display: none;

}

.tut-double-btn {

    width: 98%;

}

.nice-row-quad {

    height: 55px;

}
.tut-quad-btn {

    width: 80%;
    height: 50px;
}


