    button {

    outline: none;

}

button:hover {

    transform: scale(1.1);
    outline: none;

}

button:active {

    transform: scale(1.0);
    outline: none;

}

#loadingIcon {

    position: absolute;
    color: yellow;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.init-questions-container {

    display: none;
    [>background: rgba( 256, 256, 256, 0.2 );<]
    height: 18%;
    width: 50%;
    left: 50%;
    transform: translate( -50%, 0 );
    bottom: 5%;
    position: absolute;
    z-index: 101;

}

#tutorialBtnSingleCont {

    width: 60%;

}
#tutorialBtnDoubleCont {

    width: 70%;

}

#tutorialBtnQuadCont {

    width: 70%;
    bottom: 13%;

}

.init-emot {

    color: white !important;
    width: 85%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 20px;*/
    /*display: block;*/
    /*font-size: 1.8em;*/

}

#continueNewChoices {

    display: none;

}

#topicChoices {

    display: none;
    height: 100%;
    width: 100%;

}

.topic-row {

    height: 33%;

}

.nice-row {

    height: 40%;

}

.choice-btn {

    color: white !important;
    /*height: 50px;*/
    width: 85%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*[>padding: 10px;<]*/
    /*font-size: 1.6vw;*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;


}

.choice-btn:hover {

    transform: scale(1.01);

}

#continueBtn {

    margin-top: 25px !important;

}

#topicLabel {

    font-size: 22px;
    color: #2B2A2A;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

#topicExample {

    font-size: 18px;
    color: #605C5C;

}

#submitTopicBtnContainer {

    height: 100%;
    width: 100%;
    display: none;

}

#textInputContainer {

    position: absolute;
    width: 100%;
    height: 40%;
    background-color: #090909;
    bottom: 0;
    /*border: 2px solid red;*/
    /*display: none;*/

}

#textInputBox {

    height: 100%;
    /*position: relative;*/
    padding: 1%;
    /*border: 2px solid white;*/

}

#textInput {

    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0 );
    color: #33ff00;
    font-family: Courier;
    outline-style: none;
    box-shadow: none;
    border: none;
    resize: none;
    display: none;

}

@media screen and (min-width: 701px) {
  #textInput {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .speaking-words-inside {
      font-size: 1.3em;
      line-height: 1.3em;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
  #textInput {
    font-size: 1em;
    line-height: 1.2em;
  }
  .speaking-words-inside {
      font-size: 0.9em;
      line-height: 1.2em;
  }
}

#textInput:focus {
 
    outline-style: none;
    box-shadow: none;
    border: none;

}

#playRobot {

    height: 65px;
    width: 65px;
    background-color: #1b8900;
    position: absolute;
    right: 0.5%;
    bottom: 10%;

}

#playRobot:hover {

    background-color: #33ff00;
    cursor: pointer;

}

#robot {

    position: relative;
    height: 110%;
    left: -2px;
    bottom: 5px;

}

#altCont {

    position: relative;
    height: 10%;
    width: 90%;
    /*left: 0;*/
    /*top: 0;*/
    /*display: none;*/
    /*border: 2px solid blue;*/

}

.sent-scores-row {

    /*width: 100%;*/
    /*height: 100%;*/
    /*position: relative;*/

}

.sent-scores {

    /*width: 45px;*/
    height: 100%;
    font-size: 1.7vw;
    font-weight: bold;
    text-align: center;
    background-color: #33ff00;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: white;*/

}

.sent-scores:hover {

    cursor: pointer;
    background-color: #33ff00 !important;
    /*color: black !important;*/

}

#alt00 {

    background-color: #33ff00;
    cursor: default;
    border-right: 1px solid black;

}

#alt00:hover {

    background-color: #33ff00; !important

}

#alt01 {

    background-color: #1b8900;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

#alt02 {

    background-color: #1b8900;
    border-left: 1px solid black;

}

#meterCont {

    height: 7px;
    width: 100%;
    /*display: none;*/
    /*border: 3px solid white;*/
    position: absolute;
    /*right: 0;*/
    /*top: 10%;*/
    bottom: 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}

#volumeMic {

    /*position: absolute;*/
    /*padding: 5px;*/
    /*left: -10px;*/
    bottom: 0;
    color: #33ff00;
    /*margin-top: 5px;*/

}

#meter {

    /*border: 2px solid #33ff00;*/
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    top: 0;

}

#prevSentsContainer {

    position: absolute;
    width: 100%;
    height: 56.5%;
    right: 0;
    top: 30px;
    background-color: rgba( 0, 0, 0, 0.3 );

}

#prevSents {

    bottom: 2%;
    position: absolute;
    width: 100%;
    max-height: 92%;
    overflow-y: auto;

}

.sentenceBox {

    background-color: white;
    border-radius: 7px 0px 7px 7px;
    min-width: 51%;
    max-width: 90%;
    margin: 4px;
    padding: 3%;
    float: right;
    font-size: 1.1vw;
    
}

.noCorrectionYetSent {

    opacity: 0.2;
    color: grey;

}

.correctSent {

    background-color: rgba( 160, 219, 142, 1 );

}

.meanBySent {

    background-color: rgba( 244, 217, 166, 1 );

}

.correctedSection {

    background-color: red;
    color: white;
    border-radius: 5px;

}

.meanBySection {

    background-color: orange;
    color: white;
    border-radius: 5px;

}

.betterSection {

    background-color: green;
    color: white;
    border-radius: 5px;

}

.incorrectSent {

    background-color: rgba( 255, 182, 193, 1 );

}

.promptBox {

    background-color: white;
    float: left;
    /*to give edge on other side*/
    border-radius: 0px 7px 7px 7px;

}

.correctionsBox {

    background-color: teal;
    color: white;
    float: left;
    /*to give edge on other side*/
    border-radius: 0px 7px 7px 7px;

}

#inputButtonsContainer {

    position: fixed;
    width: 100%;
    height: 12%;
    bottom: 0;
    background-color: white;
    /*display: none;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

}

#recordBtnsContainer {

    height: 100%;
    width: 100%;
    display: none;

}

#recordAndStopBtnsContainer {

    height: 100%;
    /*display: flex;*/
    /*align-items: center;*/
}

.input-btns {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#listenAndSynthBtnsContainer {

    height: 100%;

}

#listenAndSynthBtns {

    height: 100%;
    display: flex;
    align-items: center;

}

#human {

    position: relative;
    height: 110%;
    left: -10px;
    bottom: 2px;

}

#talkBtnContainer {

    height: 100%

}

#talkBtnCont {

    height: 100%;
    display: flex;
    align-items: center;

}

#talkBtn {

    /*position: absolute;*/
    /*width: 80%;*/
    /*font-size: 1.6vw !important;*/
    /*font-weight: bold;*/
    color: yellow !important;

}

.input-btn-large {

    font-size: 3em !important;

}

.input-btn {

    font-size: 1.9em !important;
    font-weight: bold !important

}

.record-btn {

    left: 0;
    ridht: 0;
    margin: auto;
    height: 60px;
    width: 60px;

}

#stopRecordVoiceBtn {

    display: none;

}

.inputfa {

    color: white;

}

#optionBtns {

    display: none;
    width: 100%;
    height: 100%;

}

#emotionQuestionsContainer {

    display: none;
    height: 100%;
    width: 100%;

}

#thoughtBubbleCont {

    position: absolute;
    width: 30%;
    height: 30%;
    right: 55%;
    top: 10%;
    opacity: 0.7;

}

.thought-bubbles {

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

#thinkingLoading {

    display: none;
    font-family: Georgia;
    font-size: 2.0em;
    font-style: italic;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 20%;
    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 3px solid red;*/

}

#thinkingWords {

    z-index: 130;
    /*display: none;*/
    position: absolute;
    height: 20%;
    width: 80%;
    left: 12%;
    bottom: 45%;
    /*border: 2px dashed blue;*/

}

#thinkingWords1 {

    z-index: 130;
    /*display: none;*/
    position: absolute;
    height: 20%;
    width: 80%;
    left: 12%;
    bottom: 45%;
    /*border: 2px dashed blue;*/

}

#speechBubbleCont {

    position: fixed;
    width: 100%;
    height: 17%;
    bottom: 35%;
    background-color: white;
    opacity: 0.8;
    display: none;

}

.triangle-cont {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;

}

.triangle-bottomleft {

	position: absolute;
    width: 0;
	height: 0;
    top: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;


}

/*.speech-bubbles {*/

    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*[>display: none;<]*/
    /*right: 0;*/

/*}*/

/*#speechBubbleTia {*/

    /*top: 35%;*/

/*}*/

.speaking-words {

    /*display: none;*/
    /*background-color: red;*/
    /*padding: 2%;*/
    height: 100%;
    /*border: 3px solid green;*/
    padding: 0.45em;

}

.speaking-words-inside {

    /*display: none;*/
    /*position: absolute;*/
    height: 100%;

}

#speakingWordsLaptop {

    /*display: none;*/
    /*top: 12%;*/

}

/*#speakingWordsTia {*/

    /*display: none;*/
    /*top: 47%;*/

/*}*/

.thinkingOfSpeaking {

    font-size: 30px;
    left: 10%;
    display: none;

}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: 0;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.thinkingOfSpeaking span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 4 seconds
     */
    animation-duration: 4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.thinkingOfSpeaking span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: 0.5s;
}

.thinkingOfSpeaking span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: 1s;
}

/*.thinkingOfSpeaking span:nth-child(4) {*/
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    /*animation-delay: 1.5s;*/
/*}*/

/* SUCCESSFULLY CENTERED DIVS HORIZONTALLY ADN VERTICALLY */
.option-row {

    height: 33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.option-btn {

    height: 40%;
    width: 65%;
    font-size: 1.2vw;
    font-weight: bold;

}

#showCorrectionBtn {

    display: none;

}

.tut-double-btn {

    width: 98%;

}

.nice-row-quad {

    height: 55px;

}
.tut-quad-btn {

    width: 80%;
    height: 50px;

}



