.see-through-background {

    position: absolute;
    width: 100%;
    height: 450px;
    bottom: 0;
    background: rgba( 0, 0, 0, 0.3 );
    display: none;

}

#loadingIcon {

    position: absolute;
    color: yellow;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.signin-container {

    margin-top: 50px;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;

}

.infoContainer {

    height: 300px;
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    /*display: none;*/

}


.info-card {

    position: absolute;
    height: 320px;
    width: 320px;
    display: none;

}

.info-card-join {

    position: absolute;
    height: 320px;
    width: 400px;

}

.swapCardsButtonDiv {

    width: 100%;
    display: none;

}

/*stops the empty columns from disappearing*/
.w3-col {

    min-height: 1px;

}

/*#infoCard01 {*/

    /*width: 370px; */

/*}*/

/*#infoCard02 {*/

    /*width: 240px; */

/*}*/

/*#infoCard03 {*/

    /*width: 360px; */

/*}*/

/*#moreInfoCard01 {*/
    
    /*width: 80%;*/

/*}*/

.swapCardsButtonDiv {
    
    height: 100%;

}

.swapCardsButton {

    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}

/*hide left button at start*/
.fa-angle {

    color: yellow;

}

.fa-angle:hover {

    transform: scale(1.2);

}

.fa-angle:active {

    transform: scale(0.8);

}

#info-main {

    /*display: none;*/

}

#info-talk {

    display: none;
    height: 100%;

}

#info-join {

    display: none;

}

.formLabelTag {
    
    font-size: 20px;

}

.w3-half {

    display: flex;
    /*align-items: center;*/
    justify-content: center;

}

.info-card-video {

    position: absolute;
    /*height: 400px;*/
    width: 30%;
    float: right;
    /*display: none;*/

}

#TEDVideo {

    width: 100%;
    height: 100%;

} 

/*.images-outer {*/

    /*position: relative;*/
    /*width: 90%;*/
    /*height: 75%;*/
    /*[>margin: 0 auto;<]*/
    /*border: 1px solid blue;*/
    /*top: 50%;*/
    /*transform: perspective(1px) translateY(-50%);*/

/*}*/

#womanTalkingImg {

    position: absolute;
    width: 320px;
    /*top: 50%;*/
    /*transform: perspective(1px) translateY(30%);*/
    bottom: 10px;
    left: 0px;
    opacity: 0.8;

}

#nativeListeningImg {

    position: absolute;
    height: 250px;
    /*top: 40%;*/
    /*transform: perspective(1px) translateY(10%);*/
    opacity: 0.8;
    bottom: 8px;
    left: 90px;

}

#tiaSmileImg {

    position: absolute;
    width: 200px;
    bottom: 10px;
    left: 60px;

}

#feedbackDiv {

    position: absolute;
    width: 90%;
    height: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;

}

.feedback {

    font-size: 1.3vw;
    font-style: italic;

}

.email {

    font-size: 1.3vw;
    font-style: bold;

}



