#leftScroll {


}

#rightScroll {


}

.fa-angle-double-left {

    float: right;

}

.fa-angle-double-right {

    float: left;

}

.fa-angle:hover {

    color: yellow;
    transform: scale(1.5);
    cursor: pointer; 

}

#bookContentBackground {

    top:20px;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.3 );
    position: absolute;
    display: none;
    
}

#bookContentPage {

    width: 85%;
    height: 90%;
    background: rgba( 256, 256, 256, 1 );
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

#bookContentPageInner {

    width: 90%;
    height: 90%;
    background: rgba( 224, 236, 255, 1 );
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow-y: hidden;

}

.book-title {

    text-align: center;
    font-size: 2vw;

}

.which-book {

}

#sentencesBook {

    display: none;

}

#whatIsScoresBtn {

    color: white;
    background-color: blue;
    font-size: 14px;
    border-radius: 100%;
    padding: 0px 4px 0px 4px;
    position: relative;
    top: -15px;

}

#whatIsScoresBtn:hover {

    cursor: pointer;
    background-color: blue;

}

#scoresExplanation {

    position: absolute;
    display: none;
    padding: 20px;
    border-radius: 15px;
    border: 3px DodgerBlue solid;
    background-color: white;
    z-index: 200;

}

#chartRow {

    position: relative;

}

#chartOuterDiv {

    width: 35%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;

}

#scoresChart {


}

#sentencesInnerMain {

    height: 65%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;

}

#sessDate {

    text-align: center;
    font-size: 1.4vw;

}

#sessTopic {

    text-align: center;
    font-size: 1.5vw;

}

#sessScore {

    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 20px;

}

.sentenceWaitingBox {

    background-color: white;
    border-radius: 7px 0px 7px 7px;
    width: 85%;
    margin: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 1%;
    float: right;
    font-size: 1.5vw;
    
}

.speech-to-text {

    background-color: #c6dcff;
    border-radius: 5px 0px 5px 5px;
    width: 80%;
    margin: 2px;
    padding: 0.4%;
    float: right;
    font-size: 1.2vw;
    font-style: italic;

}

.listen-btn {

    float: right;
    padding: 5 7 5 9;
    font-size: 1.3vw !important;

}

.listen-synth-btn {

    padding: 7 9 7 11;
    float: right;
    font-size: 1.4vw !important;
    font-weight: bold;

}

#testsBook {

    display: none;

}

#newsBook {

    display: none;

}

#articleTitleCont {

    width: 100%;
    text-align: center;
    color: blue;

}

#articleLink:hover {

    color: navy;

}

#loadingIcon {

    position: absolute;
    color: yellow;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

#timeInIre {

    color: yellow;

}
