.fa-angle-double-left {

    float: right;
    color: green;
    margin-top: 10px;

}

.fa-angle-double-right {

    float: left;
    color: green;
    margin-top: 10px;

}

.fa-angle:hover {

    color: yellow;
    transform: scale(1.5);
    cursor: pointer; 

}

#bookContentBackground {

    /*top:20px;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.3 );
    position: absolute;
    min-width: 700px;
    min-height: 500px;
    display: none;*/

    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0.7);
    display: none;
   
}

#bookContentPage {

    /*width: 85%;
    height: 90%;
    background: rgba( 256, 256, 256, 1 );
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;*/

    overflow: auto;
    position: fixed;
    height: 90%;
    width: 100%;
    left: 0;
    right: 0;
    top: 7%;
    bottom: 0;
    margin: auto;
    background: white;
    min-height: 200px;
    
}

#bookContentPageInner {

    width: 90%;
    height: 90%;
    background: rgba( 224, 236, 255, 1 );
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow-y: hidden;

}



#signUpBackground {

    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0.7);
    display: none;

}


.sign-up-info-background {
    overflow: auto;
    position: fixed;
    height: 90%;
    width: 100%;
    left: 0;
    right: 0;
    top: 7%;
    bottom: 0;
    margin: auto;
    background: white;
    min-height: 200px;
}

.sign-up-pages {

    position: center;
    height: 95%;
    width: 95%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.book-title {

    text-align: center;
    font-size: 2vw;

}

.which-book {

}

#sentencesBook {

    display: none;

}

#whatIsScoresBtn {

    color: white;
    background-color: blue;
    font-size: 14px;
    border-radius: 100%;
    padding: 0px 4px 0px 4px;
    position: relative;
    top: -15px;

}

#whatIsScoresBtn:hover {

    cursor: pointer;
    background-color: blue;

}

#scoresExplanation {

    position: absolute;
    display: none;
    padding: 20px;
    border-radius: 15px;
    border: 3px DodgerBlue solid;
    background-color: white;
    z-index: 200;

}

#chartRow {

    position: relative;

}

#chartOuterDiv {

    width: 35%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;

}



#scoresChart {

}



#sentencesInnerMain {

    height: 65%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;

}

#sessDate {

    text-align: center;
    font-size: 1.4vw;

}

#sessTopic {

    text-align: center;
    font-size: 1.5vw;

}

#sessScore {

    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 20px;

}

.sentenceWaitingBox {

    background-color: white;
    border-radius: 7px 0px 7px 7px;
    width: 85%;
    margin: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 1%;
    float: right;
    font-size: 1.5vw;
    
}

.speech-to-text {

    background-color: #c6dcff;
    border-radius: 5px 0px 5px 5px;
    width: 80%;
    margin: 2px;
    padding: 0.4%;
    float: right;
    font-size: 1.2vw;
    font-style: italic;

}

.listen-btn {

    float: right;
    padding: 5 7 5 9;
    font-size: 1.3vw !important;

}

.listen-synth-btn {

    padding: 7 9 7 11;
    float: right;
    font-size: 1.4vw !important;
    font-weight: bold;

}

/*TESTS BOOK*/

#testsBook {

    display: none;
    height: 100%;

}

#testsEntrance {

    /*display: none;*/

}

.arrows-row {

    height: 50%;
    width: 100%;
    position: absolute;

}

#leftTestScroll {

    position: absolute;
    left: 15%;
    top: 30%;

}

#rightTestScroll {

    position: absolute;
    right: 15%;
    top: 30%;

}

#testChartCont {

    height: 90%;

}

.test-chart-row {

    height: 50%;
    position: relative;

}

#testChartOuterDiv {

    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}

#testBtnCont {

    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* TEST QUESTIONS */

#testQuestionsOuterCont {

    display: none;

}

#testQuestionsCont {

    display: flex;
    height: 88%;
    align-items: center;
    justify-content: center;

}

#finalScore {

    display: none;
    font-size: 4vw;
    font-weight: bold;

}

#testQuestionOuter {

    width: 90%;
    height: 80%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

}

.test-box-outer {

    height: 20%;
    width: 100%;

}

.test-titles {

    height: 100%;

}

#testQuestionNo {

    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: green;
    color: yellow;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;

}

#testQuestionScoreThisSent {

    font-size: 3vw;

}

#scoreThisSentCol {

    display: flex;
    /*align-items: center;*/
    justify-content: center;

}

#testThisScore {

    

}

#testQuestionScoreTotal {

    float: right;
    font-size: 3vw;
    font-weight: bold;

}

#wrongSent {

      

}

.test-buttons {

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

}

#nextQBtn {

    display: none;
    float: right;

}

#hintBtnCol {

    display: flex;
    align-items: center;
    justify-content: center;

}

#submitBtn {

    float: right;

}

#inputAnswer {

    width: 85%;
    float: right;
    font-size: 1.5vw;

}

/*NEWS BOOK*/

#newsBook {

    display: none;

}

#articleTitleCont {

    width: 100%;
    text-align: center;
    color: blue;

}

#articleLink:hover {

    color: navy;

}

#loadingIcon {

    position: absolute;
    color: yellow;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

#timeInIre {

    color: yellow;

}
