
#videosContainer {

    position: absolute;
    top: 28%;

}



#howItWorksTitle {

    background-color: #102858;

}



.info-cols {


    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}








