#closeSignInContainer {

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*z-index: 100;*/
    display: none;

}

#signInContainer {

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 101;
    font-size:3vw;
}

label{
    margin-bottom:0;
}

#signInCard {
    height:45%;
    min-height: 250px;
    z-index: 102;
    width: 95%;
    margin-top:5px;
    border-radius:3px;
    overflow:hidden;
    box-shadow:0px 0px 2px 2px hsla(0, 0%, 0%, 0.18);

}

#signInInnerContainer {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;


}

#sign_in_btn{
    border-radius:3px;
    box-shadow:0px 0px 1px 1px hsla(0, 0%, 0%, 0.18);
    font-family: 'Raleway', sans-serif;
    height: 50%;
    width: 33%;
    background: #2F9D4A;
    outline: none;
    border: none;
    font-weight: 600;
    color: white;
}

#loginForm{
    height:100%;
    width:100%;
    position:relative;
}

#loginError{
    height: 20%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
#loginUsername{
    height: 30%;
    position: absolute;
    top: 20%;
    width: 100%;
    left: 0;
}
#loginPassword{
    height: 30%;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}
#loginBtn{
    height: 20%;
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
}

.formLabelTag{
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    margin-bottom:5px;
    color:#2E89CF;
}
.loginField{
    font-family: 'Raleway', sans-serif;
    font-weight:500;

}