<div id="enterButtonContainer">

    <div id="enterButtonInnerContainer">

        <div id="enterButtonMainCont">

            <div class="enter-button" id="enterButton">
                
                <div class="enter-button-text">open</div>
            
            </div>

        </div>

    </div>

    <div id="nextClassInnerContainer">

        <div id="nextClassMainCont">

            <div class="next-class" id="nextClassInfo">
                
                <div class="next-class-text">next class opens: <span id="nextClassSpan"></span></div>
            
            </div>

            <div class="next-class" id="noNextClassInfo">
                
                <div class="next-class-text">no upcoming classes</div>
            
            </div>

        </div>

    </div>

</div>
