
<div id="home-cont">
    <!-----------------------------------------------------------------------
    CLOCK
    -------------------------------------------------------------------------->
    {% include 'face/waiting/clock.html' %}

    <!-----------------------------------------------------------------------
    TIMETABLE
    -------------------------------------------------------------------------->
    {% include 'face/waiting/timetable.html' %}

    <!-----------------------------------------------------------------------
    ENTER CLASS BUTTON
    -------------------------------------------------------------------------->
    {% include 'face/waiting/enter_class_button.html' %}

</div>
