{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------------------------------------------------------------- 
STYLESHEETS
-------------------------------------------------------------------------->
{% include 'face/waiting/stylesheets.html' %}

<!----------------------------------------------------------------------- 
TIMETABLE
-------------------------------------------------------------------------->
{% include 'face/waiting/timetable.html' %}

<!----------------------------------------------------------------------- 
SCRIPTS
-------------------------------------------------------------------------->
{% include 'face/waiting/scripts.html' %}

{% endblock %}
