{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------------------------------------------------------------- 
STYLESHEETS
-------------------------------------------------------------------------->
{% include 'face/waiting/stylesheets.html' %}

{% if tutorial_complete %}

    <!----------------------------------------------------------------------- 
    TIMETABLE
    -------------------------------------------------------------------------->
    {% include 'face/waiting/timetable.html' %}

    <!----------------------------------------------------------------------- 
    ALL SCORES
    -------------------------------------------------------------------------->
    {% include 'face/waiting/all_scores.html' %}

    <!----------------------------------------------------------------------- 
    PREVIOUS SENTENCES
    -------------------------------------------------------------------------->
    <div id="prevSentsWaitingContainer">

        {% include 'face/conversation/student/previous_sentences.html' %}

    </div>

    <!----------------------------------------------------------------------- 
    PRONUNCIATION
    -------------------------------------------------------------------------->
    {% include 'face/waiting/pronunciation.html' %}

{% else %}

    <!----------------------------------------------------------------------- 
    TUTORIAL NOT DONE
    -------------------------------------------------------------------------->
    {% include 'face/waiting/tutorial_not_done.html' %}

{% endif %}

<!----------------------------------------------------------------------- 
SCRIPTS
-------------------------------------------------------------------------->
{% include 'face/waiting/scripts.html' %}

{% endblock %}
