{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------------------------------------------------------------- 
STYLESHEETS
-------------------------------------------------------------------------->
{% include 'face/waiting/stylesheets.html' %}
{% include 'face/waiting/popup.html' %}

    {% include 'face/waiting/home.html' %}
    {% include 'face/waiting/shop.html' %}
    {% include 'face/waiting/history.html' %}
    {% include 'face/waiting/profile.html' %}
    {% include 'face/waiting/about.html' %}


    <!----------------------------------------------------------------------- 
    TUTORIAL NOT DONE
    -------------------------------------------------------------------------->
    {% include 'face/waiting/tutorial_not_done.html' %}



<!----------------------------------------------------------------------- 
SCRIPTS
-------------------------------------------------------------------------->
{% include 'face/waiting/footer.html' %}
{% include 'face/waiting/scripts.html' %}

{% endblock %}
