
{% load static %}
<div id="profile-cont" class="cont_" style="display:none;">

    <div id="profile_description">
        <div id="profile-picture-cont">
            <div id="profile-picture">
                <img style="height: 100%;" id="flag_img" src="{% static 'face/images/country-flags/svg/cn.svg' %}"/>
            </div>
        </div>
        <div id="profile_description_text">
            <div id="profile_description_username">Daniel</div>
            <div id="profile_description_joined">Joined in May 2019</div>
        </div>
        <div id="profile_description-before"></div>
    </div>

    <div id="profile_stats_holder">
        <div id="profile_stats_left">
            {% if not control %}
            <div id="points_tile" class="stats_tile">
                <div class="stats_tile_pic_cont">
                    <div class="stats_tile_pic">
                        <img style="height: 5.5vh;" src="{% static 'face/JSON/ErleESymbolBlack.png' %}"/>
                    </div>
                </div>
                <div id="point_num" class="stats_tile_value">
                    0
                </div>
                <div class="stats_tile_label">
                    Total Points
                </div>
            </div>
            {% endif %}

            <div id="conversations_tile" class="stats_tile">
                <div class="stats_tile_pic_cont">
                    <div class="stats_tile_pic">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div id="conversations_num" class="stats_tile_value">
                    0
                </div>
                <div class="stats_tile_label">
                    Conversations
                </div>
            </div>
            {% if control %}
            <div id="rating_tile" class="stats_tile">
                <div class="stats_tile_pic_cont">
                    <div class="stats_tile_pic">
                        <i id="start_half_1" class="fa fa-star-half" style="display:none;"></i>
                        <i id="start_full_1" class="fa fa-star" style="display:none;"></i>
                        <i id="start_half_2" class="fa fa-star-half" style="display:none;"></i>
                        <i id="start_full_2" class="fa fa-star" style="display:none;"></i>
                        <i id="start_half_3" class="fa fa-star-half" style="display:none;"></i>
                        <i id="start_full_3" class="fa fa-star" style="display:none;"></i>
                        <i id="start_half_4" class="fa fa-star-half" style="display:none;"></i>
                        <i id="start_full_4" class="fa fa-star" style="display:none;"></i>
                        <i id="start_half_5" class="fa fa-star-half" style="display:none;"></i>
                        <i id="start_full_5" class="fa fa-star" style="display:none;"></i>
                    </div>
                </div>
                <div id="star_num" class="stats_tile_value">
                    0
                </div>
                <div class="stats_tile_label">
                    Average Rating
                </div>
            </div>
            {% endif %}

        </div>
        <div id="profile_stats_right">
            {% if no_shop %}
            <div id="clock_tile" class="stats_tile">
                <div class="stats_tile_pic_cont">
                    <div class="stats_tile_pic">
                      <i class="fa fa-hourglass-end"></i>
                    </div>
                </div>
                <div id="clock_num" class="stats_tile_value">
                    0
                </div>
                <div id="time_label" class="stats_tile_label">
                    Hours
                </div>
            </div>
            {% else %}
            <div id="products_tile" class="stats_tile">
                <div class="stats_tile_pic_cont">
                    <div class="stats_tile_pic">
                     <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
                <div id="product_num" class="stats_tile_value">
                    0
                </div>
                <div id="product_label" class="stats_tile_label">
                    Products Bought
                </div>
            </div>

            {% endif %}

            <div id="sentences_tile" class="stats_tile">
                <div class="stats_tile_pic_cont">
                    <div class="stats_tile_pic">
                      <i class="fa fa-comment"></i>
                    </div>
                </div>
                <div id="sent_num" class="stats_tile_value">
                    0
                </div>
                <div id="sent_label" class="stats_tile_label">
                    Sentences
                </div>

            </div>

        </div>
    </div>

</div>