{% load static %}
<div id="shop-cont" class="cont_" style="display:none;">

    <!--<div id="shop-title">Balance</div>-->
    <div id="shop-balance">0<i class="fa fa-money-bill"></i></div>
    <div id="demoHolderCont">
        <div id="demoHolder" class="tile">
            <div id="tiaHolder"></div>
            <div id="tiaHolderCont" style="">
                <img id="gifHolder" src="" style=" min-width:100%; max-height:100%; min-height:100%;"/>
                <div>

                </div></div>
        </div>
    </div>
    <div class="product-category">

        <div class="product-category-cont">
            <div id="product-category-options" class="">
                <div class="option active" id="colours">Colours</div>
                <div class="option" id="Gifs">GIFs</div>
            </div>
            <div id="product-cont" class=""></div>
        </div>
    </div>

    <div id="product_description">
        <div id="product_description-cont" class="tile">
            <div id="product_description_back"><i id="product_description_back_btn" style="padding:5%;" class="fa fa-arrow-left"></i></div>
            <div id="product_description_title"></div>
            <div id="product_description_price"></div>
            <div id="product_description_btns">
                <div id="buy_equip_btn" class="tile"></div>
            </div>
        </div>
    </div>


</div>










