{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/timetable.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/all_scores.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/pronunciation.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/conversation/teacher/previous_sentences.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/conversation/student/previous_sentences.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/previous_sentences_waiting.css' %}" />
