{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/timetable.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/enter_class_button.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/all_scores.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/main_tutorial_not_done.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/pronunciation.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/conversation/teacher/previous_sentences.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/conversation/student/previous_sentences.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/previous_sentences_waiting.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/clock.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/popup.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/shop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting/profile.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto&display=swap" rel="stylesheet">