<div id="timetableContainer">

    <div id="timetableInnerContainer">

        <div id="timetableMainCont">

            <div id="timetableRowsCont" class="w3-row">

                <div id="daysRows" class="w3-col">

                    <div class="days timetable-row-top">
                        <div id="dayText1" class="days-text">Mon</div>
                    </div>

                    <div class="days">
                        <div id="dayText2" class="days-text">Tue</div>
                    </div>

                    <div class="days">
                        <div id="dayText3" class="days-text">Wed</div>
                    </div>

                    <div class="days">
                        <div id="dayText4" class="days-text">Thu</div>
                    </div>

                    <div class="days">
                        <div id="dayText5" class="days-text">Fri</div>
                    </div>

                </div>

                <div id="timesRows" class="w3-col">

                    <div class=" timetable-row timetable-row-top" id="timetableRow1">
                    </div>

                    <div class=" timetable-row" id="timetableRow2">
                    </div>

                    <div class=" timetable-row" id="timetableRow3">
                    </div>

                    <div class=" timetable-row" id="timetableRow4">
                    </div>

                    <div class=" timetable-row" id="timetableRow5">
                    </div>

                </div>

            </div>

            <div id="timetableTimesCont">
                
                <div class=" timetable-time-col w3-col">
                </div>

                <div class=" timetable-time-col w3-col">
                    <div class="times">10:00</div>
                </div>

                <div class=" timetable-time-col w3-col">
                </div>

                <div class=" timetable-time-col w3-col">
                    <div class="times">12:00</div>
                </div>

                <div class=" timetable-time-col w3-col">
                </div>

                <div class=" timetable-time-col w3-col">
                    <div class="times">14:00</div>
                </div>

                <div class=" timetable-time-col w3-col">
                </div>

                <div class=" timetable-time-col w3-col timetable-time-col-right">
                    <div class="times">16:00</div>
                </div>

            </div>

        </div>

    </div>

</div>
