
{% load static %}
<div id="tutorialNotDoneContainer">
    <div id="tutorialNotDoneBackground"></div>
    <div id="tutorialNotDoneInnerContainer">

        <div id="tutorialNotDoneTextContainer">
                <div id="tutorialNotDoneTitle">Tutorial</div>
                <div id="tutorialNotDoneText">To begin using ERLE, please complete the tutorial</div>
        </div>

        <div id="tutorialNotDoneButtonContainer">

            <button id="tutorialNotDoneButton" class="">Start</button>

        </div>

    </div>

</div>
