{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'face/css/utils.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/class.css' %}" />

<!-- black screen which disappears after loading -->
<div id="foreground" style="opacity: 1">

    <div id="loadingIcon">

        <i class="fa fa-5x fa-spinner fa-pulse"></i>

    </div>

</div>

<div id="thoughtBubbleContCont">

    <!--thought bubbles-->
    <div id="thoughtBubbleCont">

        <img class="thought-bubbles" id="thoughtBubble03" src="{% static 'face/images/wide-thought-bubble-03.png' %}">
        <img class="thought-bubbles" id="thoughtBubble02" src="{% static 'face/images/wide-thought-bubble-02.png' %}">
        <img class="thought-bubbles" id="thoughtBubble01" src="{% static 'face/images/wide-thought-bubble-01.png' %}">
        <img class="thought-bubbles" id="thoughtBubble00" src="{% static 'face/images/wide-thought-bubble-00.png' %}">

        <div id="thinkingLoading">

            <div id="thinkingWords" class="thinking-words"></div>
            <div id="thinkingWords1" class="thinking-words"></div>

        </div>

    </div>

</div>

<!--will fill this tutorial button with confirmations from tutorial.js-->
<div class="init-questions-container" id="tutorialBtnSingleCont">

    <div class="w3-row nice-row">

        <button class="w3-btn w3-blue choice-btn" id="tutorialBtnSingle"></button>

    </div>

</div>

<div class="init-questions-container" id="tutorialBtnDoubleCont">

    <div class="w3-row nice-row">

        <div class="w3-half">

            <button class="w3-btn w3-green choice-btn tut-double-btn" id="tutorialBtnDouble0"></button>

        </div>

        <div class="w3-half">

            <button class="w3-btn w3-red choice-btn tut-double-btn" id="tutorialBtnDouble1"></button>

        </div>

    </div>

</div>

<div class="init-questions-container" id="tutorialBtnQuadCont">

    <div class="w3-row nice-row-quad">

        <button class="w3-btn w3-green choice-btn tut-quad-btn" id="tutorialBtnQuad0"></button>

    </div>

    <div class="w3-row nice-row-quad">
            
        <button class="w3-btn w3-green choice-btn tut-quad-btn" id="tutorialBtnQuad1"></button>

    </div>

    <div class="w3-row nice-row-quad">

        <button class="w3-btn w3-green choice-btn tut-quad-btn" id="tutorialBtnQuad2"></button>

    </div>

    <div class="w3-row nice-row-quad">
            
        <button class="w3-btn w3-green choice-btn tut-quad-btn" id="tutorialBtnQuad3"></button>

    </div>

</div>

<div class="w3-container init-questions-container" id="continueNewChoices">

    <div class="w3-row topic-row">

        <button class="w3-btn w3-green choice-btn" id="newBtn">Choose a different topic</button>

    </div>

    <div class="w3-row topic-row">

        <button class="w3-btn w3-blue choice-btn" id="continueBtn">Continue with the same topic</button>

    </div>

</div>

<div id="speechBubbleCont" class="w3-row">

    <div class="triangle-cont">
    
        <div class="triangle-bottomleft" id="nodTriangle"></div>

    </div>

    <!--<img class="speech-bubbles" id="speechBubbleTia" src="{% static 'face/images/speechBubbleUp.png' %}">-->
    <!--<img class="speech-bubbles" id="speechBubbleLaptop" src="{% static 'face/images/speechBubbleDown.png' %}">-->

    <!--<div id="speakingWordsTia" class="speaking-words">-->
    
       <!--<div class="speaking-words-inside"></div>-->
       <!--<div class="thinkingOfSpeaking"><span>. </span><span>. </span><span>. </span></div>-->
    
    <!--</div>-->

    <div class="w3-col l2 w3-hide-medium w3-hide-small">&nbsp</div>
    <div id="speakingWordsLaptop" class="speaking-words w3-col l8 m12 s12">
    
       <div class="speaking-words-inside">
           <span id="tia-speech-box">
               Is this what you meant to say? 
           </span>
       </div>
       <div class="thinkingOfSpeaking"><span>. </span><span>. </span><span>. </span></div> 
    
    </div>
    <div class="w3-col l2 w3-hide-medium w3-hide-small">&nbsp</div>

</div>

<div id="laptopContainer">
    <div id="laptop"></div>
</div>

<div id="modalOverlay" class="w3-row" style="display:none;">
    <div class="w3-col l8 m12 s12" id="modalHolder"> 
    
        <div id="upperModal">
            <div class="sound-btn">
                Test Button
            </div>
        </div>
        <div id="lowerModal">
            <div class="sound-btn">
                Test Button
            </div>
        </div>
        <div id="buttonModal">
        </div>
    
    </div>
</div>


<div id="closeOverlayArea"></div>

<div id="correctionOverlay" class="w3-row">
     <div class="w3-col l8 m12 s12" id="overlayHolder"> 
        <div id="centeredError">
            <div id="centeredErrorHolder">
                <div id="moveText">
                    <span id="centeredErrorText">Error</span>  
                </div>        
            </div>
        </div>

       


        <div id="praatCont">
            <div id="praatContHolder">
                <div id ="btnCont">   
                    <center>
                    <div id="ref_btn" class="img_btn">
                        <img src="" class="spec_img" id="refImg">
                        <div class="text_layer" id="ref_text_layer" onclick="">
                            <span id="ref_text">TEST</span>
                        </div>
                        <div class="invisible_layer" id="ref_invisible"></div>
                    </div>
                    <div id="hyp_btn" class="img_btn">
                        <center><img src="" class="spec_img" id="hypImg"></center>
                        <div class = "text_layer" id="hyp_text_layer" onclick="">
                            <span id="hyp_text"> TEST</span>    
                        </div>
                        <div class="invisible_layer" id="hyp_invisible"></div>
                    </div>
                    <div id="sliderHolder">
                    <input type="range" min="0" max="80" value="80" class="slider" id="myRange">
                    <span id="sliderVal">100%</span>
                    </div>
                    </center>
                </div>
            </div>        
        </div>


        <div id="overlayErrorBox">
            <span id="overlayErrorText">Error</span>
        </div>
        <div contentEditable="true" id="overlayTextBox">
            <span id="typeHereOverlay">Type Here!</span>
        </div>
        <div id="overlayBtnBox"> 
            <div class="w3-col l2 m4 s4" id="overlayLeftBtn">
                <div class="input-btns">
                    <button class="w3-btn w3-circle w3-red record-btn w3-padding-small play-btn input-btn" id="closeOverlay">                                                           
                        <center> <i class="fa fa-angle-double-left inputfa"></i></center> 
                    </button>
                    <button class="w3-btn w3-circle w3-red record-btn w3-padding-small play-b
                                variablesAndConstants.j|tn input-btn" id="backOverlay">                                                             
                        <center> <i class="fa fa-angle-double-left inputfa"></i></center>
                    </button>
                    <button class="w3-btn w3-circle w3-red record-btn w3-padding-small plasy input-btn" id="keyboardOverlay">
                        <i class="fa fa-keyboard-o inputfa"></i>
                    </button> 
                </div>  
            </div>
            
            <div class="w3-col l2 m4 s4" id="overlayCentreBtn">
                <div class="input-btns">
                    <button class="w3-btn w3-circle w3-pink  record-btn w3-padding-small plasy input-btn" id="reRecordBtn">
                        <i class="fa fa-microphone inputfa"></i>
                    </button>

                    <button class="w3-btn w3-circle w3-yellow record-btn w3-padding-small plasy input-btn" id="stopRecordBtn">                                                               
                        <i class="fa fa-stop inputfa"></i>
                    </button>  

                </div>
            </div>
            
            <div class="w3-col l2 m4 s4" id="overlayRightBtn">
                <div class="input-btns">
                   <button class="w3-btn w3-circle w3-green record-btn w3-padding-small plasy input-btn" id="submitOverlay">                                                                 
                        <center> <i class="fa fa-angle-double-right inputfa"></i></center>     
                   </button>

                </div>
            </div>
            
                
        </div>
    </div>
</div>


<div id="textInputContainer" class="w3-row">

    <div class="w3-col l2 w3-hide-medium w3-hide-small">&nbsp</div>
    
    <div class="w3-col l8 m12 s12" id="sentenceShowHolder">
        <div id="sentenceHolderParent"> 
            <div id="upperSentenceHolder" class="monospace-sent-font">
               
            </div>
            <div id="lowerSentenceHolder" class="monospace-sent-font" >
                    
            </div>
        </div>
    </div>


    <div class="w3-col l8 m12 s12" id="textInputBoxContContCont" >

        <div id="textInputBoxContCont">

            <div id="textInputBoxCont">

                <div class="w3-col l8 m12 s12" id="textInputBox">

                    <textarea id="textInput" maxlength="34"></textarea>

                </div>

            </div>

        </div>

    </div>

    <!--J for corrections after student has submitted sentence-->
    <div class="w3-col l8 m12 s12" id="submittedNCorrectedSentenceContCont">
    
        <div id="submittedNCorrectedSentenceCont">

            <div class="submitted-corrected-sentences" id="submittedSentence"></div>
            <div class="submitted-corrected-sentences" id="correctedSentence"></div>
    
        </div>

    </div>
    
    <div class="w3-col l2 w3-hide-medium w3-hide-small">&nbsp</div>
    
    <!--<div id="playRobot">-->

        <!--<img id="robot" src="{% static 'face/images/robot_speech.svg' %}">-->

    <!--</div>-->

</div>


<!-- right hand side controls for student to respond and see their own sentences -->

<div id="prevSentsIconCont">

     <img class="prev-sents-icons" id="iconWhite" src="{% static 'face/images/prevSentsIcon.png' %}">
     <img class="prev-sents-icons" id="iconDark" src="{% static 'face/images/prevSentsIconDark.png' %}">

</div>        
        
<div id="prevSentsContainer">

    <div id="prevSents">

    </div>

</div>

<div id="finishClassIconCont">

    <img id="finishClassIcon" src="{% static 'face/images/finishClock.png' %}">

</div>        

<div id="timeOverlayCont">



</div>

<div id="meterCont" class="input-btns">
                    
    <!--<i class="fa fa-microphone inputfa fa-lg" id="volumeMic"></i>-->

    <canvas id="meter" width="100%" height="100%"></canvas>

</div>

<div id="inputButtonsContainer">

    <!--init questions buttons-->
    <div class="w3-row" id="emotionQuestionsContainer">

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>
        <div class="w3-col l2 m4 s4">

            <div class="input-btns">
            
                <button class="w3-btn w3-red init-emot" id="sad">sad</button>

            </div>

        </div>

        <div class="w3-col l2 m4 s4">

            <div class="input-btns">
            
                <button class="w3-btn w3-orange init-emot" id="ok">ok</button>

            </div>

        </div>

        <div class="w3-col l2 m4 s4">

            <div class="input-btns">
            
                <button class="w3-btn w3-green init-emot" id="happy">happy</button>

            </div>

        </div>

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>

    </div>

    <!--topic choices-->
    <div class="w3-row" id="topicChoices">

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>

        <div class="w3-col l2 m4 s4">

            {% if article %}

            <div class="input-btns">

                <button class="w3-btn w3-red choice-btn" id="todaysNewsArticle">today's topic</button>

            </div>

            {% else %}

            <div>&nbsp</div>

            {% endif %}

        </div>

        <div class="w3-col l2 m4 s4">

            <div class="input-btns">

                <button class="w3-btn w3-blue choice-btn" id="myChoice">my choice</button>

            </div>

        </div>

        <div class="w3-col l2 m4 s4">

            <div class="input-btns">
                <!--this will be filled in with js depending on student's choice-->
                <button class="w3-btn w3-green choice-btn" id="myEmotion">my feeling</button>

            </div>

        </div>

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>

    </div>


    <div class="w3-row" id="submitTopicBtnContainer">

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>
        <div class="w3-col l2 m4 s4">&nbsp</div>
        <div class="w3-col l2 m4 s4">

            <div class="input-btns">

                <button class="w3-btn w3-green" id="submitOwnTopicBtn">submit</button>
        
            </div>

        </div>
        <div class="w3-col l2 m4 s4">&nbsp</div>
        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>

    </div>

    <div id="recordBtnsContainer" class="w3-row">

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>
        <div class="w3-col l2 m4 s4" id="listenAndSynthBtnsContainer">
             
            <!-- Adds button needed for  no-->
            <div id="incorrectTranscriptBtns" class="input-btns">
                <button class="w3-btn w3-circle w3-red record-btn w3-padding-medium play-btn input-btn" id="incorrectTranscriptBtn">
                    <center> <i class="fa fa-times inputfa "></i></center>
                </button>    
                
                <button class="w3-btn w3-circle w3-red record-btn w3-padding-medium play-btn input-btn" id="backErrorSelection">
                    <i class="fa fa-angle-double-left inputfa"></i>
                </button>

                <button class="w3-btn w3-circle w3-red record-btn w3-padding-medium play-btn input-btn" id="backCorrection">
                    <i class="fa fa-angle-double-left inputfa"></i>
                </button>   
            
            </div>

        </div>

        <div class="w3-col l2 m4 s4" id="recordAndStopBtnsContainer">

            <div id="recordAndStopBtns" class="input-btns">

                <button class="w3-btn w3-circle w3-blue input-btn record-btn w3-padding-medium" id="recordVoiceBtn">
                 
                    <i class="fa fa-microphone inputfa"></i>

                </button>

                <button class="w3-btn w3-circle w3-red input-btn record-btn w3-padding-medium" id="stopRecordVoiceBtn">
                 
                    <i class="fa fa-stop inputfa"></i>

                </button>

                <div id="listenVoiceBtn">
                    <img id="human" src="{% static 'face/images/human_speech.png' %}">
                </div>

            </div>

        </div>

        <div class="w3-col l2 m4 s4" id="talkBtnContainer">

            <div id="talkBtnCont" class="input-btns">

                <button class="w3-btn w3-circle w3-green input-btn input-fa record-btn w3-padding-medium play-btn" id="talkBtn">
                    
                    <i class="fa fa-play inputfa" id="yellowPlay"></i>
               
                </button>

                <!--<button class="w3-btn w3-circle w3-green input-btn input-fa record-btn w3-padding-small play-btn" id="correctTranscript">-->
                    <!--<i class="fa fa-check inputfa" id="whiteTick"></i>-->
                <!--</button>-->
                
                <button class="w3-btn w3-circle w3-green input-btn input-fa record-btn w3-padding-small play-btn" id="forwardErrorSelection">
                    <i class="fa fa-angle-double-right inputfa"></i>                 
                </button>
                
                <button class="w3-btn w3-circle w3-green input-btn input-fa record-btn w3-padding-small play-btn" id="submitCorrectedErrors">                                             
                    <i class="fa fa-angle-double-right inputfa"></i>
                </button>  

            </div>
     
        </div>

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>

    </div>

    <div class="w3-row" id="optionBtns">

        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>
        <div class="w3-col l2 m4 s4 option-row" class="input-btns">

            <button class="w3-btn w3-blue option-btn" id="tryAgainBtn">try again</button>

        </div>

        <div class="w3-col l2 m4 s4 option-row" class="input-btns">

            <button class="w3-btn w3-indigo option-btn" id="whatsWrongBtn">what's wrong</button>
            <button class="w3-btn w3-indigo option-btn" id="showCorrectionBtn">show correction</button>

        </div>

        <div class="w3-col l2 m4 s4 option-row" class="input-btns">

            <button class="w3-btn w3-green option-btn" id="nextSentenceBtn">next sentence</button>

        </div>
        <div class="w3-col l3 w3-hide-medium w3-hide-small">&nbsp</div>

    </div>


</div>

<audio id="soundClip"></audio>
<audio id="synthClip"></audio>
<audio id="micInterferenceClip"></audio>

<audio id="refAudio"></audio>
<audio id="hypAudio"></audio>

<audio id="combinedAudio"></audio>

<!-- three.js script -->
<script src="{% static 'three.min.js' %}"></script>

<!--[> datgui included in development <]-->
<!--<script src="{% static 'dat.gui.min.js' %}"></script>-->
<!--<script src="{% static 'face/javascript/datguiOptions.js' %}"></script>-->

<!-- controls -->
<script src="{% static 'TrackballControls.js' %}"></script>
<script src="{% static 'OrbitControls.js' %}"></script>

<!-- variables for blender objects from JSON -->
<script>var face = "{% static 'face/JSON/tia_face.json' %}"</script>
<script>var mouth = "{% static 'face/JSON/tia_mouth.json' %}"</script>
<script>var eye = "{% static 'face/JSON/tia_eye.json' %}"</script>
<script>var hair = "{% static 'face/JSON/tia_hair.json' %}"</script>
<script>var hair00 = "{% static 'face/JSON/tia_hair00.json' %}"</script>
<script>var body = "{% static 'face/JSON/tia_body.json' %}"</script>
<script>var body00 = "{% static 'face/JSON/tia_body00.json' %}"</script>
<script>var body01 = "{% static 'face/JSON/tia_body01.json' %}"</script>
<script>var body02 = "{% static 'face/JSON/tia_body02.json' %}"</script>
<script>var body03 = "{% static 'face/JSON/tia_body03.json' %}"</script>
<script>var classroom = "{% static 'face/JSON/classroom.json' %}"</script>
<script>var speechBubble = "{% static 'face/JSON/speechBubble.json' %}"</script>
<script>var speechBubble2 = "{% static 'face/JSON/speechBubble2.json' %}"</script>
<script>var classVariableDict = {{ class_variable_dict|safe }}</script>

<!-- fonts -->
<script>var board_font = "{% static 'face/fonts/monaco_regular.json' %}"</script>

<!-- my own scripts -->
<script src="{% static 'face/javascript/variablesAndConstants.js' %}"></script>
<script src="{% static 'face/javascript/classroom/variablesAndConstants.js' %}"></script>
<script src="{% static 'face/javascript/classroom/objects.js' %}"></script>
<script src="{% static 'face/javascript/classroom/loadObjects.js' %}"></script>
<script src="{% static 'face/javascript/classroom/moveIndividual.js' %}"></script>
<script src="{% static 'face/javascript/classroom/moveCamera.js' %}"></script>
<script src="{% static 'face/javascript/classroom/moveComplex.js' %}"></script>
<script src="{% static 'face/javascript/classroom/seqEnter.js' %}"></script>
<script src="{% static 'face/javascript/classroom/tutorial.js' %}"></script>
<script src="{% static 'face/javascript/classroom/moveExpression.js' %}"></script>
<script src="{% static 'face/javascript/classroom/moveBody.js' %}"></script>
<script src="{% static 'face/javascript/classroom/input.js' %}"></script>
<script src="{% static 'face/javascript/classroom/text.js' %}"></script>
<script src="{% static 'face/javascript/classroom/timeStuff.js' %}"></script>
<script src="{% static 'face/javascript/classroom/previousSents.js' %}"></script>
<script src="{% static 'face/javascript/classroom/seqAfterJudgement.js' %}"></script>
<script src="{% static 'face/javascript/classroom/ajaxStuff.js' %}"></script>
<script src="{% static 'face/javascript/classroom/volume-meter.js' %}"></script>
<script src="{% static 'face/javascript/classroom/main.js' %}"></script>
<script src="{% static 'face/javascript/classroom/animate.js' %}"></script>

<!-- Daniel's Scripts -->
<script src="{% static 'face/javascript/classroom/DanAjax.js' %}"></script>


{% endblock %}
