{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'face/css/utils.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/entrance.css' %}" />

<!-- black screen which disappears after loading -->
<div id="foreground" style="opacity: 1">

    <div id="loadingIcon">

        <i class="fa fa-5x fa-spinner fa-pulse"></i>

    </div>

</div>


<!-- info -->

<div class="see-through-background" id="see-through-background">

    <div id="outer-container">

        <div id="infoSentenceContainer" class="w3-center">

            <div id="moreInfoSentence">

                <span id="text1">Your spoken English. </span><span id="text2">Native speaker judgement. </span><span id="text3">Emotional Response.</span>

            </div>

        </div>

        <div class="w3-row" id="row01">

            <div class="w3-col w3-third info-cols">

                <div class="info-card" id="moreInfoCard01">

                    <div class="w3-container w3-blue w3-center">
                        <div class="card-titles">Background</div>
                    </div>
                        
                    <div class="card-content">
                    
                        <iframe width="100%" height="80%"src="https://www.youtube.com/embed/6boGtBCbclc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>

                </div>

            </div>

            <div class="w3-col w3-third info-cols">

                <div class="info-card" id="moreInfoCard02">

                    <div class="w3-container w3-indigo w3-center">
                        <!--<h3 style="padding: 0px; margin: 3px;">Development - <strong style="font-size: 32px;">AI</strong></h3>-->
                        <div class="card-titles">How it Works</div>
                    </div>

                    <div class="card-content">
                    
                        <iframe width="100%" height="80%" src="https://www.youtube.com/embed/xYNMh4sZu6k?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>

                </div>

            </div>

            <div class="w3-col w3-third info-cols">

                <div class="info-card" id="joinInfoCard01">

                    <div class="w3-container w3-green w3-center">
                        <div class="card-titles" id="feedbackTitle">Student Feedback</div>
                    </div>

                    <div class="card-content">
                    
                        <div class="w3-center feedback-outer">

                            <p class="feedback">"It is so helpful. You correct so many mistakes which I didn't know before."</p>
                            <p class="feedback">"It's a simple process. This program is easy to use and feedback is very fast"</p>
                            <p class="feedback">"It's good for me that grammar mistakes are corrected everytime because I can learn the correct sentences."</p>
                    
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<!-- div for login screen -->

<div class="signin-container" id="signInCont">
            
    <div class="w3-card-4">
        
        <div class="w3-container w3-white">

        <form method="POST" id="loginForm">
            {% csrf_token %}
            <p id="misMatch" style="display: none; color: red;"></p><!-- errors go here -->

            <p class="formLabelTag w3-text-blue">{{ form.username.label_tag }}</p>
            <p id="username">{{ form.username }}</p>
            <p class="formLabelTag w3-text-blue">{{ form.password.label_tag }}</p>
            <p>{{ form.password }}</p>
                    
            <div class="w3-center w3-container">
                <input class="w3-button w3-padding-large w3-xlarge w3-green w3-hover-teal w3-ripple" type="submit" value="login" style="margin: 20px;"/>
            </div>
        </form>
            
        </div>

    </div>

</div>

<div id="signUpBackground">

    <div class="sign-up-info-background" id="IDProfileConsent">

        <span onclick="removeSignUp()" class="w3-button w3-xlarge w3-red w3-display-topright">&times;</span>

        <div id="info" class="sign-up-pages">

            <h2 class="w3-text-indigo w3-center">Information Sheet</h2>

            <div id="infoSheetContent">

                <p class="information-sheet-b"><span style="font-weight: bold;">Title:</span>&nbsp;&nbsp;&nbsp;Pilot Study for Emotional Response Language Education E-learning Platform</p>
                <p class="information-sheet-b"><span style="font-weight: bold;">Topic:</span>&nbsp;&nbsp;&nbsp; Second Language Acquisition, Computational Linguistics, Multimodal Communication</p>
                <p class="information-sheet-b"><span style="font-weight: bold;">Institution:</span>&nbsp;&nbsp;&nbsp; UCD Computer Science</p>
                <p class="information-sheet-b" style="margin-bottom: -20px;"><span style="font-weight: bold;">Researcher:</span>&nbsp;&nbsp;&nbsp; John Sloan </p>
                <p>&nbsp;</p>
                <p class="information-sheet-pb"> What is this research about? </p>
                <p class="information-sheet-p">ERLE is a language learning website which uses the emotions of an avatar to give feedback. I am interested in how users interact with the website and the avatar.</p>
                <p class="information-sheet-pb">Why are you doing this research? </p>
                <p class="information-sheet-p">I believe facial expressions are a very important means of non-verbal communication. I want to understand how language learners feel about interacting with an avatar who displays different emotions when they make correct and incorrect sentences.</p>
                <p class="information-sheet-pb"> Why have I been invited to take part? </p>
                <p class="information-sheet-p">This study is open to all intermediate level English learners in Dublin over 18 years old.</p>
                <p class="information-sheet-pb">What will happen if I decide to take part in this research study? </p>
                <p class="information-sheet-p">If you decide to participate, you will choose a username and password and be allowed to log in and practice your English with the avatar for 30 minutes each day. You may choose to type or speak to input sentences. You may be asked some questions on the website when you finish a session.</p>
                <p class="information-sheet-pb"> How will the data be used? </p>
                <p class="information-sheet-p">Your answers from the questions will be used to understand what you think of the avatar and the website. The sentences you type and speak will be used to understand how you change your language pronunciation and production after receiving feedback.
                <p class="information-sheet-pb"> How will you protect my privacy? </p>
                <p class="information-sheet-p">You will be provided with a username which has no connection to your real name. In the study you will be referred to only by the basic demographic information you provide: age, sex and nationality.</p>

                <p class="information-sheet-pb">How is this research funded? </p>
                <p class="information-sheet-p">This project is funded by UCD Computer Science.</p>

                <p class="information-sheet-pb">What are the benefits of taking part in this research study? </p>
                <p class="information-sheet-p">You will be able to practice your English. You may find it enjoyable to interact with an avatar who responds to your sentences.</p>
                <p class="information-sheet-pb">What are the risks of taking part in this research study? </p>
                <p class="information-sheet-p">If you see negative expressions from the avatar you may feel bad. When using the speech recognition, it may be frustrating to see a different result from what you expect</p>

                <p class="information-sheet-pb">Can I change my mind at any stage and withdraw from the study? </p>
                <p class="information-sheet-p">Yes. You can change your mind anytime and withdraw with no disadvantage. </p>

                <p class="information-sheet-pb">Has this research project received ethical approval? </p>
                <p class="information-sheet-p">Yes.</p>

                <p class="information-sheet-pb">How will I find out what happens with this project? </p>
                <p class="information-sheet-p">You can email - john.sloan.1@ucdconnect.ie</p>

            </div>

            <label><input type="checkbox" name="infoAgreement" id="infoAgree">&nbsp I have read the information sheet and watched the 'How To' video</label></label>

            <div class="w3-center w3-container" id="infoBtnOuterDiv">
                <button id="infoBtn" class="w3-button w3-padding-large w3-large w3-blue w3-hover-indigo w3-ripple"/>next</button>
            </div>

        </div>

        <div id="consent" class="sign-up-pages">

            <h2 class="w3-text-indigo w3-center">Consent</h2>

            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I am over 18 years old</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I will talk or type English sentences when using ERLE</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I will receive feedback in the form of facial expressions of an avatar</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that all data I submit is anonymous</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I consent to the recordings I submit being used to train pronunciation models</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I consent to the sentences I submit being used to trian language models</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I can request the deletion of my data at any time</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I understand that I can stop participating in this research project at any time</p></label>
            <label><input type="checkbox" name="consent" class="consentChecks">&nbsp I consent to taking part in this research</p></label>

            <div class="w3-center w3-container">
                <button id="consentBtn" class="w3-button w3-padding-large w3-large w3-blue w3-hover-indigo w3-ripple" style="margin: 20px;">next</button>
            </div>

        </div>

        <form method="POST" id="signUpUserForm">

            {% csrf_token %}

            <div id="learnerID" class="sign-up-pages">

                <h2 class="w3-text-indigo w3-center">ID</h2>

                <p class="formLabelTag w3-text-indigo">Please choose a username:</p>
                <p>{{ signUpUserForm.username }}</p>
                        
                <p class="formLabelTag w3-text-indigo">{{ signUpUserForm.email.label_tag }}</p>
                <p>{{ signUpUserForm.email }}</p>
                        
                <p class="formLabelTag w3-text-indigo">{{ signUpUserForm.password.label_tag }}</p>
                <p>{{ signUpUserForm.password }}</p>

                <div class="w3-center w3-container">
                    <input id="IDBtn" class="w3-button w3-padding-large w3-xlarge w3-blue w3-hover-indigo w3-ripple" type="submit" value="next" style="margin: 20px;"/>
                </div>

            </div>

        </form>

        <form method="GET" id="signUpForm">

            <div id="profile" class="sign-up-pages">

                <h2 class="w3-text-indigo w3-center">Profile</h2>

                <p class="formLabelTag w3-text-indigo">{{ signUpForm.nationality.label_tag }}</p>
                <p>{{ signUpForm.nationality }}</p>
                        
                <p class="formLabelTag w3-text-indigo">{{ signUpForm.language.label_tag }}</p>
                <p>{{ signUpForm.language }}</p>
                        
                <p class="formLabelTag w3-text-indigo">{{ signUpForm.born.label_tag }}</p>
                <p>{{ signUpForm.born }}</p>
                        
                <p class="formLabelTag w3-text-indigo">{{ signUpForm.gender.label_tag }}</p>
                <p>{{ signUpForm.gender }}</p>
                        
                <p class="formLabelTag w3-text-indigo">{{ signUpForm.education.label_tag }}</p>
                <p>{{ signUpForm.education }}</p>
                        
                <p class="formLabelTag w3-text-indigo">How long have you lived in an English speaking country?</p>
                <p>{{ signUpForm.lived_in_english_speaking_country }}</p>
                        
                <div class="w3-center w3-container">
                    <input id="profileBtn" class="w3-button w3-padding-large w3-xlarge w3-blue w3-hover-indigo w3-ripple" type="submit" value="next" style="margin: 20px;"/>
                </div>

            </div>

        </form>

    </div>

</div>

<!-- variables for blender objects from JSON -->
<script>
    var building = "{% static 'face/JSON/outsideUCDBuilding.json' %}";
    var trees = "{% static 'face/JSON/outsideUCDTrees.json' %}";
    var ground = "{% static 'face/JSON/outsideUCDGround.json' %}";
</script>

<!-- fonts -->
<script>var board_font = "{% static 'face/fonts/roboto_condensed_regular.json' %}"</script>

<!-- my own scripts -->
<script src="{% static 'face/javascript/variablesAndConstants.js' %}"></script>
<script src="{% static 'face/javascript/entrance/variablesAndConstants.js' %}"></script>
<script src="{% static 'face/javascript/entrance/loadBuilding.js' %}"></script>
<script src="{% static 'face/javascript/entrance/enterBuilding.js' %}"></script>
<script src="{% static 'face/javascript/entrance/main.js' %}"></script>

{% endblock %}
