{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="w3-row" id="topRow">

    <div class="w3-col w3-half" id="judgementCol">

        <div class="content-container w3-light-green" id="judgementOuter">

            <div class="w3-row" id="topJudgementRow">

                <div class="w3-col w3-half" id="emotionWheelContainer">

                    <div id="emotionWheel">
                        
                    </div>

                </div>

                <div class="w3-col w3-half" id="judgementButtonsContainer">

                    <div class="w3-row" id="nodShakeClickables">

                        <div class="w3-col w3-third" id="nodClickable">

                            <div class="triangle-bottomleft" id="nodTriangle"></div>

                        </div>

                        <div class="w3-col w3-third" id="shakeClickable">

                            <div class="triangle-bottomleft" id="shakeTriangle"></div>

                        </div>

                        <div class="w3-col w3-third" id="judgementCurStates">

                            <div>emot: <span id="emotionState"></span></div>
                            <div>nod: <span id="nodShakeState"></span></div>
                            <div>surp: <span id="surpriseState"></span></div>

                        </div>

                    </div>
                    
                    <div class="w3-row" id="surpriseAndCorrectSubmit">

                        <div class="w3-col m10 slide-container" id="surpriseClickable">

                              <input type="range" min="0" max="10" value="0" class="slider" id="surpriseRange">
                     
                        </div>

                        <div class="w3-col m2" id="submitClickable">

                            <button class="w3-btn w3-xlarge w3-green judgement-btns" id="correctBtn">O</button>
                        
                        </div>

                    </div>

                    <div class="w3-row" id="judgementBtnsRow">

                        <div class="w3-col m2 judgement-btn-col">
                        
                            <button class="w3-btn w3-xlarge w3-orange judgement-btns" id="meanByBtn">M</button>
                
                        </div>

                        <div class="w3-col m2 judgement-btn-col">
                        
                            <button class="w3-btn w3-xlarge w3-blue judgement-btns" id="betterBtn">B</button>
                
                        </div>

                        <div class="w3-col m2 judgement-btn-col">
                            

                        
                        </div>
                            
                        <div class="w3-col m2 judgement-btn-col">
                            
                            <button class="w3-btn w3-xlarge w3-brown judgement-btns" id="dunnoBtn">D</button>
                        
                        </div>

                        <div class="w3-col m2 judgement-btn-col">
                        
                            <button class="w3-btn w3-xlarge w3-black judgement-btns" id="moreThanThree">3</button>
                
                        </div>

                        <div class="w3-col m2 judgement-btn-col">
                            
                            <button class="w3-btn w3-xlarge w3-red judgement-btns" id="wrongBtn">X</button>
                        
                        </div>
                            
                    </div>

                </div>

            </div>

            <div class="w3-row" id="sentenceForSelectionRow">
        
                <div id="sentenceForJudgement"></div>

            </div>

            <div class="w3-row" id="promptInputRow">
        
                <div class="w3-col w3-half" id="promptInput">
                
                    <textarea id="promptText"></textarea>

                </div>

                <div class="w3-col w3-half" id="selectedSections">
                
                </div>

            </div>

        </div>

    </div>

    <div class="w3-col w3-half">

        <div class="w3-orange" id="sentForCorrectionNow">
        
            <div class="wrong-sents" id="wrongSentForCorrectionNow">

            </div>

        </div>

        <div class="w3-row content-container w3-light-blue" id="wrongSents">

            <div class="wrong-sents" id="urgentWrongSents">

            </div>

            <div class="wrong-sents" id="maybeUrgentWrongSents">

            </div>

            <div class="wrong-sents" id="nonUrgentWrongSents">

            </div>

        </div>

        <div class="w3-row" id="wrongInputRow">
    
            <div class="w3-col w3-half" id="wrongInput">
            
                <textarea id="wrongText"></textarea>

            </div>

            <div class="w3-col w3-half" id="selectedWrongSections">
            
                <div class="w3-row" id="wrongSelectionsRow">
                
                    <div class="w3-col m2">
                    
                        <button class="w3-button w3-red" id="sendCorrectionsBtn">C</button>

                    </div>

                    <div class="w3-col m10" id="wrongSelections"></div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="w3-row" id="bottomRow">

    <div class="content-container w3-yellow">

        <div class="w3-row" id="students-top-row">

            <div class="w3-col w3-quarter students-box-outer" id="studentBox00">

            </div>

            <div class="w3-col w3-quarter students-box-outer" id="studentBox01">

            </div>

            <div class="w3-col w3-quarter students-box-outer" id="studentBox02">

            </div>

            <div class="w3-col w3-quarter students-box-outer" id="studentBox03">

            </div>

        </div>

        <div class="w3-row" id="students-bottom-row">

            <div class="w3-col w3-quarter students-box-outer" id="studentBox04">

            </div>

            <div class="w3-col w3-quarter students-box-outer" id="studentBox05">

            </div>

            <div class="w3-col w3-quarter students-box-outer" id="studentBox06">

            </div>

            <div class="w3-col w3-quarter students-box-outer" id="studentBox07">

            </div>

        </div>

    </div>

</div>

<audio id="bells"></audio>
<audio id="thud"></audio>

<link rel="stylesheet" type="text/css" href="{% static 'face/css/teacherMeeting.css' %}"/>
<!--<script>var newSentSound = new Audio("{% static 'face/sounds/to-the-point.mp3' %}")</script>-->
<!--<script>var newClassSound = new Audio("{% static 'face/sounds/chimes-glassy.mp3' %}")</script>-->
<script>var sessions = {{ sessions|safe }}</script>
<script src="{% static 'ajaxPost.js' %}"></script>
<script src="{% static 'face/javascript/teacherMeeting/main.js' %}"></script>
<script src="{% static 'face/javascript/teacherMeeting/buttons.js' %}"></script>

{% endblock %}
