{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'face/css/utils.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/waiting.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'face/css/class.css' %}" />

<!-- black screen which disappears after loading -->
<div id="foreground" style="opacity: 1">

    <div id="loadingIcon">

        <i class="fa fa-5x fa-spinner fa-pulse"></i>

    </div>

</div>

<div id="bookContentBackground">

    <div id="bookContentPage">

        <span onclick="bookBackToDesk()" class="w3-button w3-xlarge w3-red w3-display-topright">&times;</span>

        <div id="bookContentPageInner">

            <div class="which-book" id="sentencesBook">

                <div class="w3-row">
                
                    <div class="w3-col w3-third" id="leftScroll">&nbsp
                        <!--<i class="fa fa-3x fa-angle-double-left fa-angle"></i>-->
                    </div>

                    <div class="w3-col w3-third">
                        
                        <h3 class="book-title"><span id="whatIsScoresBtn" class="w3-blue">?</span>Scores & Sentences</h3>

                        <div id="scoresExplanation">

                            <div id="sETitle">
                                <h4>Scores Explanation</h4>
                            </div>

                            <div id="sEExplanation">
                                <p>Scores are based on:</p>
                                <ul>
                                    <li>Average correct sentence length (number of words)</li>
                                    <li>Percentage correct sentences</li>
                                </ul>
                                <p>Bonus points are given for:</p>
                                <ul>
                                    <li>successful 'Try Again' sentences</li>
                                    <li>creating great emotion from Tia</li>
                                </ul>
                            </div>

                            <div id="sEExample">

                            </div>

                        </div>

                    </div>

                    <div class="w3-col w3-third" id="rightScroll">&nbsp
                        <!--<i class="fa fa-3x fa-angle-double-right fa-angle"></i>-->
                    </div>

                </div>

                <div class="w3-row" id="chartRow">

                    <div id="chartOuterDiv">

                        <canvas id="scoresChart"></canvas>

                    </div>

                </div>

                <div id="sentencesInnerMain"></div>

            </div> 

            <div class="which-book" id="testsBook">

                <h3 class="book-title">Tests</h3>
                <p>Not yet available</p>

            </div> 

            <div class="which-book" id="newsBook">

                <h2 class="book-title">Today's News Article</h2>

                <h4 id="articleTitleCont"><a href="{{ article_link }}" target="_blank" id="articleLink" >{{ headline }}</a></h4>

            </div> 

        </div>

    </div>

</div>

<audio id="listen_audio"></audio>

<!-- variables for blender objects from JSON -->
<script>
    var waitingRoom = "{% static 'face/JSON/waitingRoom.json' %}";
    var sentencesBook = "{% static 'face/JSON/sentencesBook.json' %}";
    var testsBook = "{% static 'face/JSON/testsBook.json' %}";
    var laptop = "{% static 'face/JSON/laptop.json' %}";
    var schedule = "{% static 'face/JSON/waitingRoomSchedule.json' %}";
    var doorSign = "{% static 'face/JSON/waitingRoomDoorSign.json' %}";
    var scheduleDict = {{ schedule_dict|safe }};
    var scheduleNow = {{ schedule_now|safe }};
    var sessionsDict = {{ sessions_dict|safe }};
    var tutorialComplete = {{ tutorial_complete|safe }};
</script>

<!-- my own scripts -->
<script src="{% static 'face/javascript/variablesAndConstants.js' %}"></script>
<script src="{% static 'face/javascript/waiting/variablesAndConstants.js' %}"></script>
<script src="{% static 'face/javascript/waiting/loadWaitingRoom.js' %}"></script>
<script src="{% static 'face/javascript/waiting/enterClassroom.js' %}"></script>
<script src="{% static 'face/javascript/waiting/books.js' %}"></script>
<script src="{% static 'face/javascript/waiting/main.js' %}"></script>
<script src="{% static 'face/javascript/waiting/sents.js' %}"></script>
<script src="{% static 'face/javascript/waiting/scoreCharts.js' %}"></script>

<!-- fonts -->
<script>var board_font = "{% static 'face/fonts/roboto_condensed_regular.json' %}"</script>

<!-- move camera toward building and then show sign in form -->
<!-- <script src="{% static 'face/javascript/enterWaitingRoom.js' %}"></script> -->

{% endblock %}
