
* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 4px;
    line-height: 1.4;
}

body {
    width: 100%;
    background-color: #fdfdfd;
}

div {
	width: 60%;
	margin: 0 auto;
	padding: 5px;
	/*border: 1px solid black;*/
}

#article_title {
	margin-top: 12px;
	margin-bottom: 10px;
}

#article_URL {
	margin-bottom: 10px;
}

#summary {
	margin-bottom: 10px;
}

#comments {
    margin-top: 20px;
}

#slider_container {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.pos {
	width: 76%;
	background-color: #ccffcc;
	margin: 0;
	margin-bottom: 10px;
}

.neu {
	width: 76%;
	background-color: #f2f2f2;
	margin: 0;
	margin-bottom: 10px;
}

.neg {
	width: 76%;
	background-color: #ffcccc;
	margin: 0;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: green;
}

/* selected link */
a:active {
    color: black;
}

.slider {
    -webkit-appearance: none;
    width: 85%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 17px;
    background: #4c7faf;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4c7faf;
    cursor: pointer;
}

