#historyTitleContainer {
    
    position: absolute;
    height: 6%;
    width: 100%;

}

#historyTitle {
    
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    text-align: center;
    font-size: min(24px, 5vw);

}

