#prevSentsWaitingContainer {

    position: absolute;
    height: 35%;
    width: 100%;
    bottom: 0;
    /*border: 1px solid black;*/
    display: none;
    align-items:center;
    justify-content:center;

}

.sentence-box {

    border: 2px solid black;

}

#allErrorsChartContainer {

    top: 10%;

}

#detailedErrorsChartInnerContainer {

    width: 50%;
    height: 50%;
    top: 5%;

}
