#prevSentsWaitingContainer {

    position: absolute;
    height: 48%;
    width: 100%;
    bottom: 0;
    /*border: 1px solid black;*/
    display:flex;
    align-items:center;
    justify-content:center;

}

.sentence-box {

    border: 2px solid black;

}

#detailedErrorsChartInnerContainer {

    width: 60%;
    height: 60%;
    top: 5%;

}
